// Become a Creator Banner Start
section.la-page--bcreator{
	width:100%;
}
.la-bcreator__banner{
	background-position:100%;
	padding:260px 0;
	background-blend-mode: multiply;

	@include respond-below(md){
		padding:100px 0;
	}
}
a.la-bcreator__back-link{
	top:2%;
	left:30px;
	color: var(--white);
	z-index:var(--z-60);
			
	&:hover{
		color:var(--gray10);
	}

	@media(max-width:767px){
		left:14px;
		&:hover{
			transform:none;
		}
	}
}

.la-bcreator__content{
	position:relative;
	top:-75px;

	@include respond-below(md){
		top:0;
	}
}
.la-bcreator__title--mini{
	font-family:var(--head-font);
	font-weight:var(--font-bold);
	font-size: var(--text-3xl);
	color:var(--white);

	@include respond-below(md){
		font-size: var(--text-xl);
	}
}
.la-bcreator__title{
	font-weight:var(--font-black);
	font-size: calc(var(--text-4xl) * 3);
	color:var(--white);

	@include respond-below(md){
		font-size: var(--text-8xl);
		line-height:1;
	}
}
.la-bcreator__tag{
	font-weight:var(--font-light);
	color:var(--gray2);
	font-size: var(--text-3xl);

	@include respond-below(md){
		font-size: var(--text-xl);
		margin-bottom:var(--size-14);
		padding-top:var(--size-4);
	}
}
	

.la-bcreator__banner-btm{
	margin-top:-130px;

	@include respond-below(md){
		margin-top:0px;
	}
}
.la-bcreator__left-text{
	padding-left:var(--size-14);

	@include respond-below(md){
		padding:var(--size-4) var(--size-5);
	}
}
.la-bcreator__left-title{
	font-family:var(--body-font);
	font-weight:var(--font-medium);
	font-size: var(--text-3xl);
	color:var(--white);

	@include respond-below(md){
		color:var(--gray6);
		font-size: var(--text-2xl);
	}
}
.la-bcreator__left-para{
	font-weight:var(--font-light);
}

.la-mcard__container {
	width: 100%;
	height: 100%;
}
.la-mcard__pagination{
	left: 280px !important;

	.swiper-pagination-bullet{
		background:#ffffff;
		border:1px solid #FFC516;
		border-radius:50%;
		opacity:1 !important;
		margin-right:var(--size-base);
	}
	.swiper-pagination-bullet-active{
		background-color:#FFC516;
	}

	@media(max-width:767px){
		left:0 !important;
	}
}
// Become a Creator Banner End


// Vertical Dotted line b/w Icons Start
.la-vdotted__lft-tag{
	font-weight: var(--font-medium);
}
.la-vdotted__lft-title{
	font-weight:var(--font-bold);
}
section.la-start-creating{
	background-color:var(--gray);
	padding:90px 0 150px 0 ;
	margin:100px 0;

	@include respond-below(md){
		margin:var(--size-10) 0;
		padding:var(--size-10) 0 calc(var(--size-20) * 2) 0;
	}

	.la-vdotted__bar{
		margin-left:30px;
		height:650px;
		border-left: 2px dotted #FFC516;

		@include respond-below(sm){
			margin-left:10px;
		}
	}
	.la-vicon{
		width:100%;
		min-height:200px;
		position:relative;
	}	
	.la-icon__vline{
		position:absolute;
		left:0;
		top:0;
		width:80px;
		height:80px;
		background-color: #FFC516;
		color:#fff;
		border-radius:var(--rounded-full);
		margin-left:-54px;
		z-index:var(--z-1);
	}
	.la-icon__vline span{
		position: relative;
		top:10px;
		left:10px;
	}
	.la-vicon__text{
		font-family: var(--body-font);
		margin-left:65px;

		@include respond-below(sm){
			margin-left:40px;
		}

		.la-vicon__title{
			font-size: var(--text-2xl);

			@include respond-below(sm){
				font-size:var(--text-xl);
			}
		}
		.la-vicon__desc{
			font-size: var(--text-md);
		}
	}
	.la-vicon__link{
		font-family: var(--body-font);
		font-size:var(--text-sm);
		font-weight:var(--font-medium);
		letter-spacing: .1rem;
		color:var(--app-indigo-1);
		position:relative;

		.la-vicon__arrow{
			position: absolute;
			bottom:-22px;
			right:-18px;
			transition:.2s ease-in;
			-webkit-transition:.2s ease-in;
			-moz-transition:.2s ease-in;
		}
	}
	.la-vicon__link:hover>span{
		transform:translateX(10px) !important;
		transition:.2s ease-in-out;
		-webkit-transition:.2s ease-in-out;
		-moz-transition:.2s ease-in-out;
		-ms-transition:.2s ease-in-out;
		-o-transition:.2s ease-in-out;
	}
}
// Vertical Dotted line b/w Icons End

// How you Earn Section
.la-earn__blog{
	margin-bottom: var(--size-14);
}
.la-bcreator--calc-wrapper{
	background-color:var(--gray);
}
.la-bcreator__calc-title{
	color:var(--gray7);
	font-weight: var(--font-normal);
}
.la-bcreator__calc-inner{
	@include respond-below(sm){
		justify-content: center !important;
	}
}
.la-bcreator__calc-itm{
	font-family:var(--head-font);
	color:var(--gray4);
	font-weight: var(--font-semibold);

	@include respond-below(sm){
		margin:0 var(--size-7);
		font-size: var(--text-md);

		&:last-child{
			padding-top:var(--size-4);
		}
	}
}


//Lila Reach Stats Section Start
section.la-bcreator-reach-stats{
	margin:100px 0;

	@include respond-below(md){
		margin:50px 0;
	}
}
.la-bcreator__reach-main{
	line-height:1;
}
.la-bcreator__reach-tag{
	font-size: var(--text-3xl);
	font-weight: var(--font-medium);
	color: var(--gray5);

	@include respond-below(md){
		font-size: var(--text-xl);
	}
}
.la-bcreator__reach-title{
	font-size: var(--text-6xl);
	font-weight: var(--font-bold);
	color: var(--gray5);

	@include respond-below(md){
		font-size: var(--text-4xl);
	}
}
.la-bcreator__stats-count{
	font-size: var(--text-4xl);
	font-weight: var(--font-bold);
	font-family: var(--body-font);
	color:var(--app-indigo-1);
	opacity:0.98;
}
.la-bcreator__stats-desc{
	font-family:var(--head-font);
	font-size: var(--text-lg);
	font-weight: var(--font-bold);
	color: var(--gray7);
}
.la-bcreator__stats-btn{
	margin-top:var(--size-14);
}
// Lila Reach Stats Section End



// Benefits Section Start
section.la-bcreator--benefits{
	margin:150px 0;

	@include respond-below(md){
		margin:80px 0;
	}
}
.la-bcreator__benefits-main{
	font-size:143px;
	color:var(--gray2);
	font-weight:var(--font-black);

	@include respond-below(md){
		font-size:calc(var(--text-5xl) * 2);
	}
}
.la-bcreator__benefits-card{
	background:rgba(255,255,255,0.74);
	box-shadow:0px 0px 40px #E4E4E475;
	border-radius:10px;
	margin-top:-95px;
	height:300px;

	&:hover{
		background-color:#ffffff;
	}

	@include respond-below(md){
		margin:-40px 0 70px 0;
		height:300px;
	}
}
.la-bcreator__benefits-icon{
	font-size: 90px;
	color:#FFC516;
}
.la-bcreator__benefits-title{
	font-family: var(--head-font);
	font-size: var(--text-2xl);
	font-weight: var(--font-bold);
	color: var(--gray7);
}
.la-bcreator__benefits-para{
	font-family: var(--body-font);
	font-size: var(--text-md);
	font-weight: var(--font-normal);
	color: #000000;
	opacity:0.73;
}
// Benefits Section End


// Ad Banner Section Start
section.la-bgcreator--ad-banner{
	.la-bgcreator__ad-content{
		//background-color:var(--gray5);
		padding:calc(var(--size-20) + var(--size-20)) 0;
		font-family:var(--body-font);
		background-blend-mode: multiply;
		background-position: 100%;

		@include respond-below(sm){
			border-radius:0;
			padding:calc(var(--size-20) + var(--size-10)) var(--size-2);
		}

		.la-bgcreator__ad-para{
			font-size: var(--text-3xl);

			@include respond-below(md){
				font-size: var(--text-2xl);
			}
		}
		.la-arrow-link{
			letter-spacing: .1rem;
			color:#ffffff;
			font-size:var(--text-xs);
			span{
				position:absolute;
				bottom:-24px;
				right:-18px;
				transition:.2s ease-in;
				-webkit-transition:.2s ease-in;
				-moz-transition:.2s ease-in;
			}	
		}
		.la-arrow-link:hover>span{
			transform:translateX(10px) !important;
			transition:.2s ease-in-out;
			-webkit-transition:.2s ease-in-out;
			-moz-transition:.2s ease-in-out;
			-ms-transition:.2s ease-in-out;
			-o-transition:.2s ease-in-out;
		}
	}
}
// Ad Banner Section End


// FAQ Section Start
section.la-bgcreator--faq{
	margin:calc(var(--size-20) + var(--size-20)) 0;

	@media(max-width:767px){
		margin:var(--size-20) 0;
	}
}
.la-bgcreator__faq-panel{
	background-color:#ffffff;
	box-shadow: 0px 6px 15px #a0a0a012;
	border-radius:10px;
    position: relative;
	display: block;
	margin-top: var(--size-4);
		
	&:not(.collapsed) {
		padding: var(--size-5) 0;
		font-size: var(--text-lg) !important;
		font-weight:var(--font-normal);
		display: block;
	}
}
.la-bgcreator__faq-title{
	font-size: var(--text-5xl);
	padding-bottom: var(--size-6);

	@include respond-below(md){
		font-size: var(--text-4xl);
	}
}
.la-bgcreator__panel-head {
	padding: 0 var(--size-10);

	@media(max-width:767px){
		padding: 0 var(--size-6);
	}
	
}
.la-bgcreator__panel-title a{
	font-family: var(--body-font);
	font-size: 16px !important;
	font-weight:var(--font-light);
	color:rgba(0,0,0,0.8);
	position: relative;
	display: block;

	&:after{
		font-family: 'icomoon';
		content: "\e96d";
		position:relative;
		float:right;
		right:0px;
		color: var(--app-indigo-1) !important;
		font-size: var(--text-md);
		font-weight: var(--font-semibold);
		transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);
		transition: all 0.25s ease-in;-webkit-transition: all 0.25s ease-in;-moz-transition: all 0.25s ease-in;-ms-transition: all 0.25s ease-in;-o-transition: all 0.25s ease-in;
	}
	&.collapsed:after{
		content: "\e96d";
		transform: rotate(0);-webkit-transform: rotate(0);-moz-transform: rotate(0);-ms-transform: rotate(0);-o-transform: rotate(0);
		transition: all 0.25s ease-in;-webkit-transition: all 0.25s ease-in;-moz-transition: all 0.25s ease-in;-ms-transition: all 0.25s ease-in;-o-transition: all 0.25s ease-in;
	} 
}
.accordion-toggle.collapsed {
	color:rgba(0,0,0,0.7);
}
.accordion-toggle:not(.collapsed) {
	color: var(--app-indigo-1);
	font-size: var(--text-lg) !important;
	font-weight:var(--font-normal);	
}	

.la-bgcreator__panel-body{
	padding: var(--size-4) 0 0 var(--size-10);

	@media(max-width:767px){
		padding: var(--size-4) 0 0 var(--size-6);
	}
}
.la-bgcreator__panel-para{
	color:var(--gray6);
	font-family: var(--body-font);
	font-weight:var(--font-light);
	font-size:16px !important;
}
.la-bgcreator__faq-all {
	a{
		&:after{
			position:absolute;
			content:'Collapse all';
			right:0;
			color:var(--app-indigo-1);
		}
		&:hover:after{
			color:var(--gray6);
			text-decoration:underline;
		}
		&.collapsed:after{
			position:absolute;
			content:'See all';
		}
	}		
}
// FAQ section End