.la-hero__top{
    .la-hero{
        .la-hero__tag{
            font-size:var(--text-2xl);
            line-height: var(--text-2xl + 6px);
            color:var(--white);
        }
        .la-hero__title{
            font-size:calc(var(--text-5xl) * 2);
            line-height: calc(var(--text-5xl) * 2 + 6px);
            line-height: 1;
            color:var(--white);

            @include respond-below(lg){
                font-size: var(--text-6xl);
            }
        }
        .la-hero__subtitle{
            color: var(--app-indigo-1);
        }
        .la-hero__lead{
            font-size:var(--text-xl);
            line-height: calc(var(--text-xl) + 6px);
            color:var(--white);

            @include respond-above(lg) {
                width: 70%;
                margin: 0 auto;
            }
        }
        .la-hero__cta{
            @include respond-below(lg){
                padding:var(--size-4) var(--size-6);
            }
        }
    }
}

.la-hero__img img{
    width:100%;
    height:auto;
    //object-fit: cover;
}

.la-hero__video{
    overflow: hidden;
    width:100%;
    // height: 700px;
    display:block;
    margin:0 auto;
    position:relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.21);
    }
    
    //mask-repeat: no-repeat;-webkit-mask-repeat: no-repeat;
    //mask-position: center;-webkit-mask-position: center;
    //mask-clip:border-box;-webkit-mask-clip:border-box;
    //mask-size:580px 580px;-webkit-mask-size:580px 580px;

    @include respond-below(sm){
        width:100%;
        height:600px;
        //mask-size:350px 350px;
        //-webkit-mask-size:350px 350px;
        //margin:0 auto var(--size-6) auto;
    }  
}

.la-hero__video video{
    width:100%;
    height:100%;
    margin:0 auto;
    object-fit: cover;
    pointer-events: none !important;
}
.la-hero__video-content{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:0 auto;
    padding:0 var(--size-6);
}
.la-home__bestprice{
    font-size:var(--text-md);
    sup{
        color:var(--white);
        font-weight:var(--font-light);
    }
    small{
        font-weight: var(--font-medium);
    }
}
.la-home__realprice{
    font-weight: var(--font-medium);
    sup{
        color:var(--green);
    }
}

@media (max-width:991px){
    .la-hero__top{
        .la-section__title{
            right:20%;
        }
        .la-section__title--big{
            font-size:calc(var(--text-2xl) * 3);
        }
    }
}


//- Browse Courses Carousel
.la-home__course-mtitle{
    color:var(--app-indigo-1);
    font-weight:var(--font-extrabold);
    font-size:var(--text-4xl);
    margin-bottom:var(--size-8);

    @include respond-above(md){
        font-size:var(--text-5xl);
        margin-bottom:var(--size-14);
    }
}
.la-home__course-container{
    width:100%;
    height:100%;
}
.la-home__course-pagination{
    .swiper-pagination-bullet{
		background:var(--gray6);
		border-radius:50%;
		opacity:0.4 !important;
		margin-right:var(--size-base);
	}
	.swiper-pagination-bullet-active{
		background-color:var(--yellow);
        opacity: 1 !important;
	}

    @include respond-below(lg){
        left: 45%;
        bottom:-10px;
    }
}
.la-home__course-prev, .la-home__course-next{
    background-color:var(--gray2);
    border-radius:var(--rounded-full);
    width:45px;
    height:45px;

    &:hover{
        background-color:var(--app-indigo-1);
        transform:all 0.25s ease;
    }
    &:after{
        font-size:var(--text-lg);
        color:var(--gray6);
        font-weight:var(--font-semibold);
    }
    &:hover:after{
        color:var(--white);
    }
}
.la-home__course-next{
    right:-55px;
    top:33%;

    @include respond-below(lg){
        display:none;
    }
}
.la-home__course-prev{
    left:-55px;
    top:33%;

    @include respond-below(lg){
        display:none;
    }
}

//- Master Class Carousel
.la-home__master-container{
    width:100%;
    height:100%;
}
.la-home__master-slide{
   height:100%;

    @include respond-above(lg){
        height:450px;
    }
    @include respond-below(sm){
        width:80% !important;
    }
}
.la-slider__paginations {
    &-- {
        &purble {
            & .swiper-pagination-bullet-active {
                background: var(--app-indigo-1) !important;
            }
        }
    }
    &.la-right {
        @include respond-above(md){
            bottom: 0px;
            right: 0 !important;
            left: unset !important;
            text-align: right;
        }
    }
}
.la-home__master-pagination{
    margin-top:var(--size-16);
    left: 50%;
    bottom:-20px;

	.swiper-pagination-bullet{
		background:#ffffff;
		border-radius:50%;
		opacity:0.4 !important;
		margin-right:var(--size-base);
	}
	.swiper-pagination-bullet-active{
		background-color:#fff;
        opacity: 1 !important;
	}

    @include respond-below(sm){
        left: 45%;
        bottom:-20px;
    }
    @include respond-above(lg){
        // display:none;
        right: 0;
        left: unset;
        bottom: -57px;
    }
}
.la-home__master-prev, .la-home__master-next{
    background-color:var(--gray2);
    border-radius:var(--rounded-full);
    width:45px;
    height:45px;

    &:hover{
        background-color:var(--app-indigo-1);
        transform:all 0.25s ease;
    }
    &:after{
        font-size:var(--text-lg);
        color:var(--gray6);
        font-weight:var(--font-semibold);
    }
    &:hover:after{
        color:var(--white);
    }
}
.la-home__master-next{
    right:-60px;
    top:48%;

    @media(min-width:1200px){
        right:-60px;
        top:48%;
    }
    @media(max-width:1199px){
        display: none;
    }
}
.la-home__master-prev{
    left:-60px;
    top:48%;

    @media(min-width:1200px){
        left:-60px;
        top:48%;
    }
    @media(max-width:1199px){
        display: none;
    }
}

//- Customize Section
.la-home__customize-fluid{
    @include respond-above(sm){
        padding-right:0 !important;
    }
}
.la-home__section-customize{
    background-color:rgba(115, 34, 183, 0.75);
}
.la-home__customize{
    @include respond-below(md){
        padding-bottom:var(--size-12);
    }
}
.la-home__customize-title{
    color:var(--white);
}
.la-home__customize-para{
    color:var(--gray2);
    font-size:var(--text-sm);
}
.la-home__customize-container{
    width:100%;
    height:100%;
    margin-bottom:var(--size-10);
}
.la-home__customize-slide{
    width:100%;
}
.la-home__customize-pagination{
    right: 40px !important;

	.swiper-pagination-bullet{
		background:#ffffff;
		border-radius:50%;
		opacity:0.4 !important;
		margin-right:var(--size-base);
	}
	.swiper-pagination-bullet-active{
		background-color:#fff;
        opacity: 1 !important;
	}

    @include respond-above(lg){
        right: 80px !important;
    }
}
.la-home__customize-info img{
    width:100%;
    height:100%;
    border-radius: 10px;
}
.la-home__customize-infotitle{
    color:var(--yellow);
    font-size: var(--text-xl);
    font-weight: var(--font-semibold);
}
.la-home__customize-infopara{
    font-size: var(--text-sm);
    color:var(--gray2);

    @include respond-above(lg){
        padding-right:var(--size-16);
    }
}

//- Learn Section
.la-home__learn{
    z-index:10;

    @include respond-below(md){
        padding-bottom:var(--size-12);
    }
}

.la-home__subscription__ques--second {
    padding-top: 50px;
}
@include respond-above(lg){
    .la-home__subscription__ques--second {
        padding-top: 150px;
        padding-bottom: 50px;
    }
}


.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    pointer-events: auto !important;
}

.la-home__trail-btn {
    letter-spacing: 3.2px;
    padding-left: 110px;
    color: #FFC516;
    font-weight: var(--font-normal);
    top: auto;
    right: 120px;
    position: absolute;
    z-index: 40;
}