.la-hero__top{
    .la-hero{
        .la-hero__tag{
            font-size:var(--text-xl);
        }
        .la-hero__title{
            font-size:calc(var(--text-5xl) * 2);
            line-height: calc(var(--text-5xl) * 2);
            line-height: 1;

            @include respond-below(lg){
                font-size: var(--text-6xl);
            }
        }
        .la-hero__subtitle{
            color: var(--app-indigo-1);
        }
        .la-hero__lead{
            font-size:var(--text-md);
            line-height:1.2;
        }
        .la-hero__cta{
            @include respond-below(lg){
                padding:var(--size-4) var(--size-6);
            }
        }
    }
}
.la-hero__video{
    overflow: hidden;
    width:600px;
    height:600px;
    display:block;
    margin:0 auto;
    mask-repeat: no-repeat;-webkit-mask-repeat: no-repeat;
    mask-position: center;-webkit-mask-position: center;
    mask-clip:border-box;-webkit-mask-clip:border-box;
    mask-size:600px 600px;-webkit-mask-size:600px 600px;

    @include respond-below(lg){
        width:350px;
        height:350px;
        mask-size:350px 350px;
        -webkit-mask-size:350px 350px;
        margin:var(--size-10) auto;
    }
    
}
.la-hero__video video{
    width: auto;
    height:100%;
    margin:0 auto;
    object-fit: cover;
    pointer-events: none !important;
}

@media (max-width:991px){
    .la-hero__top{
        .la-section__title{
            right:20%;
        }
        .la-section__title--big{
            font-size:calc(var(--text-2xl) * 3);
        }
    }
}
