
.la-hero__tag{
    font-size:var(--text-xl);
    line-height: calc(var(--text-2xl) + 6px);
    color:var(--gray6);
}
.la-hero__title{
    font-size:calc(var(--text-4xl) * 2);
    line-height: calc(var(--text-5xl) * 2 + 6px);
    line-height: 1;
    color:var(--gray6);

    @include respond-below(lg){
        font-size: var(--text-5xl);
    }
}
.la-hero__subtitle{
    //color: var(--app-indigo-1);
}
.la-hero__lead{
    font-size:var(--text-lg);
    line-height: calc(var(--text-xl) + 6px);
    color:var(--gray6);

    @include respond-below(sm) {
        font-size:var(--text-sm);
        //width: 90%;
        margin: 0 auto;
        line-height: 1.5;
    }
    @include respond-above(lg){
        padding-right:var(--size-14); 
    }
}
.la-hero__cta{
    @include respond-below(lg){
        padding:var(--size-4) var(--size-6);
    }
}

.la-hero__img img{
    width:100%;
    height:auto;
    //padding:var(--size-20);
    //object-fit: contain;
    //object-position: top;

    @include respond-above(lg){
        width:500px;
        height:500px;
    }
    @include respond-below(sm){
        margin-bottom:var(--size-3);
        padding:0 var(--size-6) var(--size-6);
    }
}

.la-hero__video{
    overflow: hidden;
    width:100%;
    height: calc(100vh - var(--inner-padding));
    //height: 100%;
    display:block;
    margin:0 auto;
    position:relative;

    &::before {
        //content: "";
       // position: absolute;
       // width: 100%;
        //height: 100%;
        //background-color: rgb(0, 0, 0, 0.21);
    }
    
    //mask-repeat: no-repeat;-webkit-mask-repeat: no-repeat;
    //mask-position: center;-webkit-mask-position: center;
    //mask-clip:border-box;-webkit-mask-clip:border-box;
    //mask-size:580px 580px;-webkit-mask-size:580px 580px;

    @include respond-below(lg){
        //width:100%;
        //height:600px;
        //mask-size:350px 350px;
        //-webkit-mask-size:350px 350px;
        //margin:0 auto var(--size-6) auto;
    }  
}

.la-hero__video video{
    width:100%;
    height:100%;
    margin:0 auto;
    object-fit: cover;
    //pointer-events: none !important;
}
.la-hero__video-content{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:0 auto;
    padding:0 var(--size-6);
}
.la-hero__video-info{
    position:absolute;
    left:0;

    @include respond-above(sm){
        left:100px;
    }
    @include respond-above(lg){
        margin-left:var(--size-8);
        left:85px;
    }
}
//-Popup Video
.la-hero__modal-dialog{
    max-width:100% !important;
    height:100% !important;
    top:20px;

    @include respond-above(md){
        max-width:80% !important;
        height:80% !important;
    }
}
.la-hero__modal-close{
    position:absolute;
    top:10px;
    right:15px;
    color:var(--white) !important;
    z-index: 10;

    @include respond-below(md){
        top:30px;
    }
}


.la-home__bestprice{
    font-family: 'Roboto','Poppins', sans-serif;
    font-size:var(--text-sm);
    sup{
        color:var(--white);
        font-weight:var(--font-light);
    }
    small{
        font-weight: var(--font-medium);
    }
}
.la-home__realprice{
    font-family: 'Roboto','Poppins', sans-serif;
    font-weight: var(--font-thin);
    sup{
        color:var(--green);
    }
}

//- Video Popup Button
.la-hero__bottom{
    @include respond-above(sm){
        margin-top:var(--size-16);
    }
    @include respond-above(lg){
        margin-top:var(--size-8);
    }
}
.la-hero__bottom-video{
    position:absolute;
    left:-50px;
    bottom:-20px;
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    background-color: var(--gray);
    color:var(--gray6);
    padding:var(--size-4) var(--size-8) var(--size-4) calc(var(--size-20) + var(--size-5));
    border-radius: 0 50px 50px 0;

  
    
    @include respond-below(lg){
        padding:var(--size-4) var(--size-8) var(--size-4) calc(var(--size-14) - 3px);
    }
    @include respond-below(sm){
        left:-20px;
        bottom:10px;
        padding:var(--size-3) var(--size-6);
    }
    @include respond-above(lg){
        left:-100px;
    }

    &:hover{
        .la-hero__play-triangle {
            stroke-dashoffset: 0;
            opacity: 1;
            stroke: #f8aa28;
            animation: nudge 0.7s ease-in-out;-webkit-animation: nudge 0.7s ease-in-out;-moz-animation: nudge 0.7s ease-in-out;
            
            @keyframes nudge{
                0% {transform: translateX(0);-webkit-transform: translateX(0);-moz-transform: translateX(0);}
                30% {transform: translateX(-5px);-webkit-transform: translateX(-5px);-moz-transform: translateX(-5px);}
                50% {transform: translateX(5px);-webkit-transform: translateX(5px);-moz-transform: translateX(5px);}
                70% {transform: translateX(-2px);-webkit-transform: translateX(-2px);-moz-transform: translateX(-2px);}
                100% {transform: translateX(0);-webkit-transform: translateX(0);-moz-transform: translateX(0);}
            }
            @-webkit-keyframes nudge{
                0% {transform: translateX(0);-webkit-transform: translateX(0);-moz-transform: translateX(0);}
                30% {transform: translateX(-5px);-webkit-transform: translateX(-5px);-moz-transform: translateX(-5px);}
                50% {transform: translateX(5px);-webkit-transform: translateX(5px);-moz-transform: translateX(5px);}
                70% {transform: translateX(-2px);-webkit-transform: translateX(-2px);-moz-transform: translateX(-2px);}
                100% {transform: translateX(0);-webkit-transform: translateX(0);-moz-transform: translateX(0);}
            }
        }

        .la-hero__play-circle {
            transition: all 1s ease-in-out;-webkit-transition: all 1s ease-in-out;
            stroke-dashoffset: 0;
            stroke: #f8aa28;
            opacity: 1;
        }
    }
}
.la-hero__play-svg{
    width:25px;
    height:25px;

    @include respond-below(sm){
        width:30px;
        height:30px;
    }
}
.la-hero__play-triangle{
    transition: all 1s ease-in-out;-webkit-transition: all 1s ease-in-out;-moz-transition: all 1s ease-in-out;-o-transition: all 1s ease-in-out;
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: var(--gray6);
    transform: translateY(0);-webkit-transform: translateY(0);-moz-transform: translateY(0); 
}
.la-hero__play-circle{
    stroke: var(--gray6);
    stroke-dasharray: 0;
    stroke-dashoffset: 650;
    transition: all 1s ease-in-out;-webkit-transition: all 1s ease-in-out;
    opacity: 1;
}

.la-home__course-animate{
    animation:parallax 1.5s ease;-webkit-animation:parallax 1.5s ease;-moz-animation:parallax 1.5s ease;
    transition: all 3s cubic-bezier(0.25, 0.1, 0.14, 1.05);-webkit-transition: all 3s cubic-bezier(0.25, 0.1, 0.14, 1.05);-moz-transition: all 3s cubic-bezier(0.25, 0.1, 0.14, 1.05);

    @keyframes parallax{
        from{opacity:0;transform:translateX(300px);-webkit-transform:translateX(300px);-moz-transform:translateX(300px);transition: all 1s cubic-bezier(0.25, 0.1, 0.14, 1.05);-webkit-transition: all 3s cubic-bezier(0.25, 0.1, 0.14, 1.05);-moz-transition: all 3s cubic-bezier(0.25, 0.1, 0.14, 1.05);}
        to{opacity:1;transform:translateX(0px);-webkit-transform:translateX(0px);-moz-transform:translateX(0px);transition: all 1s cubic-bezier(0.25, 0.1, 0.14, 1.05);-webkit-transition: all 3s cubic-bezier(0.25, 0.1, 0.14, 1.05);-moz-transition: all 3s cubic-bezier(0.25, 0.1, 0.14, 1.05);}
    }
}


@media (max-width:991px){
    .la-hero__top{
        .la-section__title{
            right:20%;
        }
        .la-section__title--big{
            font-size:calc(var(--text-2xl) * 3);
        }
    }
}


//- Browse Courses Carousel
.la-home__course-mtitle{
    color:var(--app-indigo-1);
    font-weight:var(--font-bold);
    font-size:var(--text-3xl);

    @include respond-above(md){
        font-size:var(--text-5xl);
        margin-bottom:var(--size-14);
    }
}

.la-home__course-fluid{
    @include respond-below(sm){
        //padding-left:12px;
    }
}
.la-home__course-container,.la-home__course-container2{
    width:100%;
    height:100%;
    overflow: visible;
}
.la-home__course-wrapper,.la-home__course-wrapper2{
    @include respond-above(lg){
        // margin-left:150px;
    }
}
.la-home__course-slide, .la-home__course-slide2{
    width: 320px !important;
    height:auto;

    &:first-child{
        padding-left:0;

       @include respond-above(lg){
            //margin-left:85px;
       }
    }

    .la-lclass, .la-lcourse{
        min-width:320px;
    }
}
.la-home__course-pagination{
    .swiper-pagination-bullet{
		background:var(--gray6);
		border-radius:50%;
		opacity:0.4 !important;
		margin-right:var(--size-base);
	}
	.swiper-pagination-bullet-active{
		background-color:var(--yellow);
        opacity: 1 !important;
	}

    @include respond-below(lg){
        left: 45%;
        bottom:-10px;
    }
}
.la-home__course-prev, .la-home__course-next{
    background-color:var(--gray2);
    border-radius:var(--rounded-full);
    width:35px;
    height:35px;

    &:hover{
        background-color:var(--app-indigo-1);
        transform:all 0.25s ease;
    }
    &:after{
        font-size:var(--text-md);
        color:var(--gray6);
        font-weight:var(--font-semibold);
    }
    &:hover:after{
        color:var(--white);
    }
}
.la-home__course-next{
    right:-55px;
    top:33%;

    @include respond-below(lg){
        display:none;
    }
}
.la-home__course-prev{
    left:-55px;
    top:33%;

    @include respond-below(lg){
        display:none;
    }
}

//- Master Class Carousel
.la-home__master-fluid{
    @include respond-below(sm){
        padding:0 12px;
    }
}
.la-home__master-container{
    width:100%;
    height:100%;
}
.la-home__master-slide{
    width: 300px !important;
    height:auto;
    
    &:first-child{
        padding-left:0;

        @include respond-above(lg){
                margin-left:85px;
        }
    }

    @include respond-below(md){
        width: 300px !important;
    }

    @include respond-above(lg){
        width: 320px !important;
    }
}
.la-slider__paginations, .la-slider__paginations2 {
    &-- {
        &purble {
            & .swiper-pagination-bullet-active {
                background: var(--app-indigo-1);
            }
        }
    }
    &.la-right {
        @include respond-above(md){
            bottom: 0px;
            right: 0 !important;
            left: unset !important;
            text-align: left;
        }
    }
}
.la-home__master-pagination{
    margin-top:var(--size-16);
    left: 50%;
    bottom:-20px;

	.swiper-pagination-bullet{
		background:#ffffff;
		border-radius:50%;
		opacity:0.4 !important;
		margin-right:var(--size-base);
	}
	.swiper-pagination-bullet-active{
		background-color:var(--yellow);
        opacity: 1 !important;
	}

    @include respond-below(sm){
        left: 45%;
        bottom:-20px;
    }
    @include respond-above(lg){
        // display:none;
        right: 0;
        left: unset;
        bottom: -57px;
    }
}
.la-home__master-prev, .la-home__master-next{
    background-color:var(--gray2);
    border-radius:var(--rounded-full);
    width:35px;
    height:35px;

    &:hover{
        background-color:var(--yellow);
        transform:all 0.25s ease;
    }
    &:after{
        font-size:var(--text-md);
        color:var(--gray6);
        font-weight:var(--font-semibold);
    }
    &:hover:after{
        color:var(--white);
    }
}
.la-home__master-next{
    right:-60px;
    top:48%;

    @media(min-width:1200px){
        right:-60px;
        top:48%;
    }
    @media(max-width:1199px){
        display: none;
    }
}
.la-home__master-prev{
    left:-60px;
    top:48%;

    @media(min-width:1200px){
        left:-60px;
        top:48%;
    }
    @media(max-width:1199px){
        display: none;
    }
}


//- Watch Now Section
.la-home__watch-fluid{
    padding:0 !important;
    width:100vw;
}
.la-home__watch-container{
    width:100%;
    height:auto;
    position: relative;
    z-index: var(--z-2);
}
.la-home__watch-slide{
    background-size: cover !important;
    background-position: center top !important;
    width:100%;
    height:100%;
    overflow: hidden;

    @include respond-above(lg){
        height:calc(100vh - var(--inner-padding));
    }
    @include respond-below(md){
        background-position: 40% !important;
        height:auto;
    }
}
.la-home__watch-artist{
    position:absolute;
    right:0;
    top:60px;
    color:var(--white);
    font-weight: var(--font-light);
    transform:rotate(-90deg);

    @include respond-above(lg){
        right:10px;
        top:100px;
    }
}
.la-home__watch-artist--mobile{
    color:var(--white);
    font-weight: var(--font-light);
}
.la-home__watch-overlay{
    background-color:rgba(#000000, 0.4);
    padding:calc(var(--size-16) * 2) 0;

    @include respond-below(sm){
        padding:var(--size-20) 0;
    }
}
.la-home__watch-content{
    padding-left:var(--size-4);

    @include respond-below(sm){
        padding-bottom:var(--size-6);
    }
    @include respond-above(lg){
        padding-left:var(--size-20);
    }
}
.la-home__watch-title{
    font-size: var(--text-5xl);
    font-weight: var(--font-bold);
    color:var(--white);

    @include respond-below(md){
        font-size: var(--text-3xl);
    }
}
.la-home__watch-para{
    font-size: var(--text-lg);
    color:var(--gray11);
    font-weight: var(--font-light);

    @include respond-below(md){
        font-size: var(--text-md);
    }
}
.la-home__watch-navigations{
    position:relative;
    height:0;
    padding:0 !important;
    top:-40px;
    margin-right:var(--size-5);

    @include respond-above(md){
        margin-right:var(--size-10);
    }
}
.la-home__watch-pagination{
	.swiper-pagination-bullet{
		background:var(--white);
		border-radius:50%;
		opacity:0.4 !important;
		margin-right:var(--size-base);
	}
	.swiper-pagination-bullet-active{
		background-color:var(--yellow);
        opacity: 1 !important;
	}
}

//- Customize Section
.la-home__customize-fluid{
    @include respond-above(sm){
        padding-right:0 !important;
    }
}
.la-home__section-customize{
    @include respond-below(sm){
        padding:var(--size-12) 0 var(--size-14) 0;
    }
}
.la-home__customize{
    @include respond-below(md){
        padding-bottom:var(--size-12);
    }
    @include respond-below(sm){
        padding-bottom:0;
    }
}
.la-home__customize-title{
    font-size: var(--text-5xl);
    font-weight: var(--font-bold);
    color:var(--white);
    z-index:1;
    
    &:before{
        content:"";
        position:absolute;
        left:-12px;
        top:-12px;
        width:var(--size-8);
        height:var(--size-8);
        border:2px solid var(--yellow);
        border-radius: var(--rounded-full);
        z-index:-1;

        @include respond-below(md){
            width:var(--size-7);
            height:var(--size-7);
            left:-9px;
            top:-7px;
        }
    }
}
.la-home__customize-para{
    color:var(--gray2);
    font-size:var(--text-md);
    padding:var(--size-8) 0;
}
.la-home__customize-sliders{
    z-index:30;
}
.la-home__customize-right{
    width:600px;
    height:400px;
    z-index:10;
    background-size:600px 400px !important;

    @include respond-above(lg){
        width:830px;
        height:600px;
        background-size:830px 600px !important;
    }
    @include respond-below(sm){
        width:350px;
        height:350px;
        background-size:contain !important;
    }
}
.la-home__customize-container--desktop{
    width:465px;
    height:380px;
    z-index:1;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left:70px;
    pointer-events: none;
  
    @include respond-above(lg){
        width:638px;
        height:495px;
        margin-left:100px;
        left:-1px;
    }

    @include respond-below(sm){
        width:269px;
        height:330px;
        margin:0 auto;
        left:1px;
    }
}
.la-home__customize-slide--desktop{
    width:464px !important;
    height:380px;
    display:flex;
    justify-content:center;
    align-items: start;
    z-index:1;
    margin-top:48px;
    
    @include respond-above(lg){
        width:630px !important;
        height:500px;
        margin-top:90px;
    }

    @include respond-below(sm){
        width:268px !important;
        height:325px;
        margin-top:88px;
    }
}
.la-home__customize-info--desktop img{
    width:463px;
    height:370;
    position: relative;
    z-index:1;
    
    @include respond-above(lg){
        width:630px;
        height:400px;
    }

    @include respond-below(sm){
        width:269px !important;
        height:100%;
    }
}
.la-home__customize-pagination{
    //right: 40px !important;
    
	.swiper-pagination-bullet{
		background:#ffffff;
		border-radius:50%;
		opacity:0.4 !important;
		margin-right:var(--size-base);
	}
	.swiper-pagination-bullet-active{
		background-color:var(--white);
        opacity: 1 !important;
	}

    @include respond-above(lg){
        right: 80px !important;
    }
}

/*.la-home__pagination-top{
    position: relative;
    display:inherit;
    margin-right:10px;
    text-align: left;
  
    .swiper-pagination-bullet{
        width: 100%;
        display: inline-block;
        border-radius: 0px;
        height: auto;
        font-size: var(--text-lg);
        font-weight: var(--font-medium);
        background-color: transparent;
        padding: 5px;
        color: var(--yellow);
        opacity: 0.75;
        padding-right:var(--size-4);
        line-height:1.2;

        div{
            color:var(--white) !important;
            opacity:0.75;
            font-size: var(--text-sm);
            font-weight: var(--font-normal);
            padding-top:5px;
        }
    }

    .swiper-pagination-bullet-active {
        color:var(--yellow);
        background: transparent;
        opacity: 1;

        div{
            color:var(--white) !important;
            opacity:1;
        }
    }
}*/
.la-home__customize-desc{
    @include respond-above(sm){
        margin-right:var(--size-6);
    }
}
.la-home__customize-infotitle{
    color:var(--yellow);
    font-size: var(--text-lg);
    font-weight: var(--font-semibold);
}
.la-home__customize-infopara{
    font-size: var(--text-sm);
    color:var(--gray2);

    @include respond-above(lg){
        padding-right:var(--size-16);
    }
}

//- Customize Mobile Section
.la-home__customize-mobile--section{
    position:absolute;
    z-index:10;
    right:0;
    bottom:0;

    @media(min-width:1280px) and (max-width:1600px){
        right:-70px;
        bottom:-20px;
    }
    @include respond-below(sm){
        right:-55px;
    }
}
.la-home__customize-right--mobile{
    width:300px;
    height:300px;
    z-index:1;
    background-size:contain !important;

    @include respond-above(lg){
        width:300px;
        height:500px;
        background-size:300px 450px !important;
    }
    @include respond-below(sm){
        width:250px !important;
        height:100%;
        background-size:contain !important;
    }
}
.la-home__customize-container--mobile{
    width:130px;
    height:315px;
    margin:0 auto;
    z-index:1;
    pointer-events: none;
  
    @include respond-above(lg){
        width:200px;
        height:448px;
    }

    @include respond-below(sm){
        width:86px !important;
        height:100%;
    }
}
.la-home__customize-slide--mobile {
    width:128px !important;
    height:258px;
    display:flex;
    align-items:end;
    z-index:-1;
    margin-top:25px;

    @include respond-above(lg){
        width:195px !important;
        height:448px;
        margin-top:57px;
    }

    @include respond-below(sm){
        width:85px !important;
        height:202px;
        margin-top:16px;
    }
}
.la-home__customize-info--mobile img{
    width:128px;
    height:258px;
    position: relative;
    z-index:1;
    //margin-left:6px !important;

    @include respond-above(lg){
        width:195px;
        height:448px;
    }

    @include respond-below(sm){
        width:85px !important;
        height:100%;
    }
}


//- Learn Section
.la-home__learn{
    z-index:10;

    @include respond-below(md){
        padding-bottom:var(--size-12);
    }
}
.la-home__learn-info{
    z-index:2;
}


//- Subscription Box
.la-home__subscription-ques{
    padding:var(--size-10) 0;
}
.la-home__subscription-title{
    color:var(--app-indigo-1);
}
/*.la-home__subscription__ques--first{
    padding:var(--size-10) 0;

    @include respond-above(lg){
        padding:var(--size-20) 0;
    }
}
.la-home__subscription__ques--second {
    //padding-top: 20px;
}
@include respond-above(lg){
    .la-home__subscription__ques--second {
       // padding-top: 150px;
       // padding-bottom: 50px;
    }
}*/


.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    pointer-events: auto !important;
}

.la-home__trail-btn {
    letter-spacing: 3.2px;
    //padding-left: 110px;
    //color: #FFC516;
    font-weight: var(--font-normal);
    //top: auto;
    //right: 120px;
    //position: absolute;
    //z-index: 40;
}

.la-hero__btn--scroll-down {
    //position: absolute;
    //right: 120px;
    //bottom: 50px;
}

.la-slider__navigations, .la-slider__navigations2 {
    display: inline-flex;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 4px;
}
.la-slider__navigations-arrow {
    position: unset;
    margin: 0;
    box-shadow: 0px 2px 4px 3px #0000002e;
    background-color: #ffffff;
    cursor: pointer;
    opacity:1 !important;
}
.la-slider__navigations-dots, .la-slider__navigations-dots2 {
    position: unset;
    margin: 0 20px;
    text-align: left;

    @include respond-below(sm){
        margin:-16px 0 0 0;
        text-align: center;
    }
}
.la-slider__navigations-dots .swiper-pagination-bullet, .la-slider__navigations-dots2 .swiper-pagination-bullet {
    margin-left: 8px;
    margin-right: 0;
    &:first-child {
        margin-left: 0;
    }
}
.la-slider__paginations--purble .swiper-pagination-bullet {
    width: 15px;
    border-radius:10px;
    transition: all 0.4s ease;
    margin-bottom:var(--size-2);
}
.la-slider__paginations--purble .swiper-pagination-bullet-active {
    width:30px;
    // height:7px;
    // border-radius:10px;
    transition: all 0.4s ease;

    // animation:fill 0.6s ease 0s alternate;

    // @keyframes fill{
    //     from{width:7px;}
    //     to{width:30px;}
    // }
    // @-webkit-keyframes fill{
    //     from{width:7px;}
    //     to{width:30px;}
    // }
}

.la-section--courses-inwrap .la-home__course-slide .col-12, .la-section--courses-inwrap .la-home__course-slide2 .col-12 {
    padding: 0;
}
.la-home__section-customize .la-home__customize-container .swiper-wrapper {
    // transition-delay: 1s !important;
}
// .la-home__section-customize .la-home__customize-container .swiper-wrapper .swiper-slide.swiper-slide-active,
// .la-home__section-customize .la-home__customize-container .swiper-wrapper .swiper-slide.swiper-slide-duplicate-active {
//     transition: all 0.8s linear !important;
//     transition-delay: 0s !important;
// }
// .la-home__section-customize .la-home__customize-container .swiper-wrapper,
// .la-home__section-customize .la-home__customize-container .swiper-wrapper {
//     transition: all 0.8s linear !important;
//     transition-delay: 0s !important;
// }
.la-home__customize-container--content-wrap {
    position: relative;
}
.la-home__customize-container--content-wrap:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}