// Section Hero Page Start
.la-lp__tag{
    font-size:var(--text-3xl);
    color:var(--app-indigo-1);
    font-weight: var(--font-bold);
}
.la-lp__title{
    font-weight:var(--font-extrabold);
    color:var(--gray6);
}
.la-lp__title-para{
    font-weight:var(--font-light);
}

.la-lp__choose-title{
    font-size:var(--text-8xl);
    color:var(--gray2);
    font-weight:var(--font-black);

    @include respond-below(sm){
        font-size: var(--text-6xl);
    }
    @include respond-above(md){
        font-size: calc(var(--text-6xl) * 2);
    }
    @include respond-above(lg){
        font-size:var(--text-abnormal);
    }
}
.la-lp__choose-bg{
    background-color:rgba(245,244,240, 0.7);
    box-shadow: 0px 0px 20px #C5C5C529;
    padding:var(--size-12) var(--size-4);
    margin-top:-32px;

    @include respond-above(md){
        margin-top:-55px;
    }
    @include respond-above(lg){
        padding:var(--size-14) var(--size-12);
        margin-top:-75px;
    }
    @include respond-below(md){
        padding:var(--size-10) var(--size-3);
        box-shadow: none;
        background-color: transparent;
    }
}
.la-lp__rgt-content{
    padding-top:var(--size-14);

    @include respond-above(sm){
        padding-top:0;
    }
}
// Section Hero Page End



// Section All Include Start
section.la-lp--include{
    padding-top:var(--size-10);
    
    @include respond-above(md){
        padding:var(--size-20) 0;
    }
}
.la-lp__benefits h3{
    color:var(--gray6);
    font-weight:var(--font-semibold);
}

// Section All Include End

// Section FAQ Start
section.la-lp--sub-faq{
    padding-top:var(--size-20);  

    @include respond-below(md){
        margin:0 !important;
        padding:var(--size-14) 0;
    }
    @include respond-below(sm){
        padding:var(--size-10) 0;
    }
}

//- FAQ Left content
.la-lp__lft-title{
    color:var(--gray5);
    font-weight:var(--font-bold);
}
.la-lp__lft-desc{
    font-weight:var(--font-light);
    color:var(--gray6);
}
.la-lp__lft-link{
    color:var(--app-indigo-1);
    text-decoration: underline;

    &:hover{
        color:var(--app-indigo-1);
        text-decoration: underline;
        opacity:0.85;
    }
}

//- FAQ Right content
.faq-title{
    color:var(--gray3);
    font-weight:var(--font-bold);
    padding-bottom:var(--size-4);
}
.la-lp__faq-panel{
    background:#ffffff;
    box-shadow: 0px 6px 15px #A4A4A412;
    border-radius:8px;
    padding:var(--size-base) var(--size-base);
    position: relative;
	display: block;

    &:not(.collapsed) {
		display: block;
	}
}
.la-lp__faq-subpanel{
    box-shadow:none;
}
.la-lp__faq-sub {
    position:relative;
    display:block;
}
.la-lp__faq-title a{
    font-weight:var(--font-medium);
    color:rgba(1,1,1,0.5);
    position: relative;
	display: block;
                                   
    &:after{
        font-family: 'icomoon';
        content: "\e96d";
        position:relative;
        float:right;
        color: var(--app-indigo-1) !important;
        font-weight: var(--font-semibold);
        font-size: var(--text-md);
        transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);
        transition: all 0.25s ease-in;-webkit-transition: all 0.25s ease-in;-moz-transition: all 0.25s ease-in;-ms-transition: all 0.25s ease-in;-o-transition: all 0.25s ease-in;
        display:block;
    }
    &.collapsed:after{
        content: "\e96d"; 
        transform: rotate(0);-webkit-transform: rotate(0);-moz-transform: rotate(0);-ms-transform: rotate(0);-o-transform: rotate(0);
        transition: all 0.25s ease-in;-webkit-transition: all 0.25s ease-in;-moz-transition: all 0.25s ease-in;-ms-transition: all 0.25s ease-in;-o-transition: all 0.25s ease-in;
    }
}

.main-toggle.collapsed {
    color:rgba(0,0,0,0.7);
    display:block;
}
.main-toggle:not(.collapsed) {
    color: var(--app-indigo-1);
    font-weight:var(--font-semibold);
    display:block;
}

.la-lp__sub-group{
    //height:300px;
    //overflow-y:scroll;
    //scrollbar-width: none; 
    //-ms-overflow-style: none; 
}       
.la-lp__faq-tag a{
    color:var(--gray3);
    font-weight: var(--font-light);

    &:after{
        font-family: 'icomoon';
        content: "\e96d";
        position:relative;
        float:right;
        color: var(--app-indigo-1) !important;
        font-weight: var(--font-medium);
        font-size: var(--text-md);
        transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);
        transition: all 0.25s ease-in;-webkit-transition: all 0.25s ease-in;-moz-transition: all 0.25s ease-in;-ms-transition: all 0.25s ease-in;-o-transition: all 0.25s ease-in;
    }
}
.accordion-toggle.collapsed:after{
    content: "\e96d"; 
    transform: rotate(0);-webkit-transform: rotate(0);-moz-transform: rotate(0);-ms-transform: rotate(0);-o-transform: rotate(0);
    transition: all 0.25s ease-in;-webkit-transition: all 0.25s ease-in;-moz-transition: all 0.25s ease-in;-ms-transition: all 0.25s ease-in;-o-transition: all 0.25s ease-in;
}
.accordion-toggle.collapsed {
    color:rgba(0,0,0,0.7);
}
.accordion-toggle:not(.collapsed) {
    color: var(--app-indigo-1);
    font-weight:var(--font-normal);
}
.panel-text{
    font-family: var(--body-font);
    font-weight:var(--font-light);
    color:var(--gray6);
}
.la-lp__sub-group::-webkit-scrollbar{
    width:0 !important;
}
        
.faq-see-all a{
    font-family:var(--body-font);
    font-size:var(--text-sm);
    color:var(--app-indigo-1);

    &:after{
        position:absolute;
        content:'Collapse all';
        right:14px;
        color:var(--app-indigo-1);
    }
    &:hover:after{
        color:var(--gray6);
        text-decoration:underline;
    }
    &.collapsed:after{
        position:absolute;
        content:'See all';
    }   
}

// Section FAQ End

// Section Testimonials Start
section.la-lp--testimonials{
    padding:var(--size-20) 0;

    @include respond-below(md){
        padding:var(--size-14) 0;
    }
    @include respond-below(sm){
        padding:var(--size-10) 0;
    }
    .la-lp__test-lft{
        margin:var(--size-10) 0;
        padding:var(--size-10) 0;
        h4{
            color:var(--gray5);
            font-weight:var(--font-bold);
        }
        p{
            font-weight:var(--font-normal);
            color:rgba(0,0,0,0.73);
        }

        @include respond-below(md){
            transform:none !important;
            position:  relative !important;
            left:0 !important;
            top:0 !important;
            
        }
    }

    .la-lp__test-rgt{
        .la-lp__test-cards{
            padding:var(--size-10);
            .la-lp__card-itm{
                width:100%;
                height:auto;
                background-color:#ffffff;
                box-shadow: 0px 31px 39px #A4A4A424;
                border:none;
                border-radius: 10px;
                padding:var(--size-10);
                transition:all .25s ease-in;-webkit-transition:all .25s ease-in;-moz-transition:all .25s ease-in;-ms-transition:all .25s ease-in;-o-transition:all .25s ease-in;

                &:hover{
                    transform:scale(1.05);-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-ms-transform:scale(1.05);-o-transform:scale(1.05);
                    transition:all .2s ease-out;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-ms-transition:all .2s ease-out;-o-transition:all .2s ease-out;
                }

                @include respond-above(sm){
                    width:80%;
                }

                .la-lp__profile{
                    img{
                        width:50px;
                        height:50px;
                        background-color: var(--gray);
                        border:1px solid var(--gray);
                        object-fit: cover;
                    }
                    .la-lp__name{
                        font-weight:var(--font-semibold);
                        color:var(--gray7);
                    }
                    .la-lp__desg{
                        font-weight:var(--font-normal);
                        color:(--gray7);
                    }
                }
                
                .la-lp__test-rating{
                    @include respond-below(sm){
                        margin-top:var(--size-4);
                    }
                    .la-lp__rtng{
                        color:#FFC516;
                    }
                    .la-lp__urtng{
                        color:var(--gray2);
                    }
                }

                .la-lp__test-review{
                    font-weight:var(--font-normal);
                    color:var(--gray5);
                    margin-top:var(--size-2);
                    @include respond-above(sm){
                        margin-top:var(--size-4);
                    }
                }
            }
            

            ul.la-lp__card-list{
                float:right;
                li{
                    width:10px;
                    height:10px;
                    border: 1px solid #FFC516;
                    border-radius:var(--rounded-full);
                    margin:var(--size-base) 0;
                    cursor:pointer;
                    a{
                        padding:var(--size-base);
                    }
                    &:hover{
                        background-color:#FFC516;
                    }
                }
            }
        }
        
    }
}


@media (max-width:991px){
    section.la-lp--testimonials{
        .la-lp__test-lft{
            margin: 0;
            padding: 0;
        }
    }
}

@media (max-width:767px){
    section.la-lp--testimonials{
        .la-lp__test-rgt{
            .la-lp__test-cards{
                padding:0;
                .la-lp__card-itm{
                    padding:var(--size-6);
                    margin:var(--size-4);
                   
                    &:hover{
                        transform:none;
                        transition:none;
                    }
                }
            }
        }
    }
}
// Section Testimonials End