section.la-section{
    .la-section__inner{
        .la-mycourses__title{
            color:var(--gray5);
            font-weight:var(--font-semibold);
        }
        .la-mycourses__subtitle{
            color:var(--gray7);
            font-weight:var(--font-normal);
        }
        .la-mycourses__more{
            color:var(--app-indigo-1);
            font-weight:var(--font-normal);
            float:right;
        
            &:hover{
                color:transparent;
            }
            &:hover:after{
                clear:both;
                content:"See the list";
                position:relative;
                color:var(--app-indigo-1);
            }
        }
    }
}


//- My Courses and Classes Sliders
#{$ap}- {
    &my{
        &__{
            &courses, &classes{
                &-{
                    &container{
                        width:100%;
                        height:auto !important;
                        

                        @include respond-below(lg){
                            overflow:visible;
                        }
                    }
                    &wrapper{
                        height:auto !important;
                        
                        @include respond-above(md){
                            padding:var(--size-3) 0;
                        }
                    }
                    &slide{
                        width:320px;
                        height:480px;

                        .la-lclass__card{
                            padding:0;
                        }
                        .la-lcourse__card{
                            padding:0;
                        }
                    }
                }
            }
        }
    }
}

