// Section New Releases Start
section.la-new--releases{
    .la-announcement__main-title{
        color:var(--gray5);
        font-weight:var(--font-semibold);
    }
    .la-new__announcements{
        margin-right:calc(var(--size-20)*3);
        //border-bottom:2px solid rgba(112,112,112,0.23);
    }

    .la-new__meet-events{
        margin-right:calc(var(--size-20)*3);
    }
}
// Section New Releases Start

@media (max-width:1199px){
    section.la-new--releases{
        .la-new__announcements,.la-new__meet-events{
            margin-right:0;
        }
    }
}

@media (max-width:991px){
    section.la-new--releases{
        .la-new__announcements{
            h1{ padding:var(--size-4) var(--size-base);}
        }
        .la-new__announcements,.la-new__meet-events{margin-right:0 !important;}
    }
}

@media (max-width:575px){
    section.la-new--releases{
        .la-new__announcements{
            h1{padding:var(--size-6);}
        }
    }
}
