.la-payment__add-title{
    font-size: var(--text-5xl);
    color: var(--gray5);
}
.la-payment__add-card{
    padding: var(--size-18) 0;
}
.la-payment__add-subtitle {
    color: var(--gray3);
    opacity: 0.85;
    font-family: var(--body-font);
    font-weight: var(--font-medium);
}
.la-payment__add-old{
 &:hover{
     color:var(--gray10);
 }   
}
.la-payment__add-details{
    font-size:var(--text-lg);
    padding: var(--size-4) 0;
}
.la-payment__add-desc{
    font-size:16px;
    color:var(--gray3);
    opacity: 0.7;
}
