// Become a Creator Banner Start
section.la-page--bcreator{
	width:100%;
	.la-bcreator__banner{
		/*background:url('../images/creator/bcreator-banner.png') no-repeat center rgba(0, 0, 0, 0.5);*/
		background-size:cover;
		background-position:100%;
		padding:195px 0;
		background-blend-mode: multiply;
	}
	.la-bcreator{
		a.la-bcreator__back-link{
			top:5%;
			left:30px;
			color:#fff;
			z-index:var(--z-60);
			transform:rotate(180deg);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);
			transition:all .2s ease-in;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;-o-transition:all .2s ease-in;

			&:hover{
				left:24px;
				transition:all .2s ease-out;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-ms-transition:all .2s ease-out;-o-transition:all .2s ease-out;
			}
		}
		.la-bcreator__content p:first-child{
			font-family:var(--head-font);
			font-weight:var(--font-extrabold);
		}
		.la-bcreator__content h1{
			font-family:var(--head-font);
			font-weight:var(--font-black);
		}
		.la-bcreator__content p:last-child{
			font-family:var(--head-font);
			font-weight:var(--font-light);
			opacity:.73;
		}
	}

	.la-bcreator__banner-btm{
		margin-top:-120px;

		.la-bcreator__left-text{
			padding-left:var(--size-14);
			h4{
				font-family:var(--body-font);
				font-weight:var(--font-medium);
			}
			p{
				font-family:var(--body-font);
				font-weight:var(--font-light);
			}
		}
	}
	.la-mcard__slider-wrap{
		.la-mcard__container {
			width: 100%;
			height: 100%;
		}
		.swiper-pagination-bullet{
			background:#ffffff;
			border:1px solid #FFC516;
			border-radius:50%;
			opacity:1 !important;
			margin-right:var(--size-base);
		}
		.swiper-pagination-bullet-active{
			background-color:#FFC516;
		}
	}
}

@media (max-width:991px){
	section.la-page--bcreator{
		.la-bcreator__banner{padding:100px 0;background-position: center center;}
		.la-bcreator__banner-btm{margin-top:0px;}
		.la-bcreator__left-text{
			padding:var(--size-6) !important;
			h4{color:var(--gray6) !important;}
		}
	}
}
// Become a Creator Banner End


// Vertical Dotted line b/w Icons Start
section.la-start-creating{
	background-color:var(--gray);
	padding:70px 0 120px 0 ;
	margin:100px 0;
	.la-vdotted-bar{
		margin-left:30px;
		height:600px;
		border-left: 2px dotted #FFC516;
	}
	.la-vicon{
		width:100%;
		min-height:180px;
	}	
	.la-icon-vline{
		position:absolute;
		left:0;
		text-align: left;
		width:80px;
		height:80px;
		padding:40px;
		background-color: #FFC516;
		color:#fff;
		border-radius:var(--rounded-full);
		margin-left:-42px;
		z-index:var(--z-1);
	}
	.la-icon-vline span{
		margin:-24px 0 0 -22px;
	}
	.la-vicon-text{
		font-family: var(--body-font);
		margin-left:65px;
	}
	.la-arrow-link{
		font-family: var(--body-font);
		font-size:var(--text-sm);
		font-weight:var(--font-medium);
		letter-spacing: .1rem;
		color:var(--app-indigo-1);
		
		span{
			position:relative;
			bottom:-10px;
			left:-30px;
		}
		&:hover{
			font-size:var(--text-md);
			transition:.2s ease-in-out;
			-webkit-transition:.2s ease-in-out;
			-moz-transition:.2s ease-in-out;
			-ms-transition:.2s ease-in-out;
			-o-transition:.2s ease-in-out;
		}
	}
}

@media (max-width:767px){
	section.la-start-creating{
		margin:50px 0;
	}
}
// Vertical Dotted line b/w Icons End

// How you Earn Section
section.la-bcreator--earn{
	.la-bcreator--calc-wrapper{
		background-color:var(--gray);

		.la-bcreator__calc p{
			font-family:var(--head-font);
		}
		.la-bcreator__calc{
			.la-bcreator__calc-itm small{
				font-family:var(--head-font);
				color:var(--gray4);
			}
			.la-bcreator__calc-itm p{
				font-family: var(--body-font);
				color:#1EC812;
				span{
					font-family: var(--body-font);
					color:var(--gray6);
				}
			}
		}
	}
}


//Lila Reach Stats Section Start
section.la-bcreator-reach-stats{
	margin:100px 0;
	.la-bcreator__title span, h3{
		font-family:var(--body-font);
	}
	.la-bcreator__stats-item{ 
		h4{
		font-family:var(--body-font);
		color:var(--app-indigo-1);
		}

		p{
			font-family:var(--head-font);
		}
		span{
			font-family:var(--body-font);
			color:var(--gray4);
		}
	}
	.la-bcreator__stats-btn{
		margin-top:var(--size-20);
	}
}

@media (max-width:767px){
	section.la-bcreator-reach-stats{
		margin:50px 0;
	}
}
// Lila Reach Stats Section End

// Benefits Section Start
section.la-bcreator--benefits{
		margin:150px 0;
		
	.la-bcreator__benefits-title h2{
		font-size:143px;
		color:var(--gray2);
		font-weight:var(--font-black);
	}
	.la-bcreator__benefit-card{
		background:rgba(255,255,255,0.74);
		box-shadow:0px 0px 40px #E4E4E475;
		border-radius:10px;
		margin-top:-95px;

		&:hover{
			background-color:#ffffff;
		}
		.card-icon{
			width:80px;
			height:80px;
		}
		h5{
			font-family: var(--head-font);
		}
		p{
			font-family: var(--body-font);
		}
	}
}

@media (max-width:767px){
	section.la-bcreator--benefits{
		margin:80px 0;

		.la-bcreator__benefits-title h2{
			font-size:60px;
		}
		.la-bcreator__benefit-card{
			margin:-45px 0 70px 0;
		}
	}
}
// Benefits Section End


// Ad Banner Section Start
section.la-bgcreator--ad-banner{
	.la-bgcreator__ad-content{
		background-color:var(--gray5);
		border-radius:10px;
		padding:100px 0;
		font-family:var(--body-font);
	}
	.la-arrow-link{
		letter-spacing: .1rem;
		color:#ffffff;
		
		span{
			position:absolute;
			bottom:-12px;
			right:-12px;
			z-index:var(--z-1);
		}	
	}
}

@media (max-width:767px){
	section.la-bgcreator--ad-banner{
		.la-bgcreator__ad-content{
			border-radius:0;
		}
	}
}
// Ad Banner Section End


// FAQ Section Start
section.la-bgcreator--faq{
	margin:130px 0;
	.la-bgcreator__faq-panel{
		background-color:#ffffff;
		box-shadow: 0px 6px 15px #A4A4A412;
		border-radius:10px;
	}
	
	.la-bgcreator__panel-head {
		.la-bgcreator__panel-title a{
			font-family: var(--body-font);
			color:rgba(0,0,0,0.7);
			font-weight:var(--font-light);
		}
		.la-bgcreator__panel-title a[aria-expanded=true]{
			font-family: var(--body-font);
			color: var(--app-indigo-1);
			font-weight:var(--font-normal);
			opacity:1;
		}
		[data-toggle="collapse"] {
			&:after {
				content: "\005E";
				float: right;
				color: var(--app-indigo-1) !important;
				font-size: var(--text-lg);
				font-weight:var(--font-bold);
				line-height: 22px;
				transition:.4s ease-in-out;
				-webkit-transition:.4s ease-in-out;
				-moz-transition:.4s ease-in-out;
				-ms-transition:.4s ease-in-out;
				-o-transition:.4s ease-in-out;
			}
		}
		[data-toggle="collapse"].collapsed {
			&:after {
				color: var(--app-indigo-1);
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
				color: #454444;
				
			}
		}
	}
	.la-bgcreator__panel-body p{
		color:var(--gray6);
		font-family: var(--body-font);
		font-weight:var(--font-light);
	}
	.faq-see-all a{
		font-family:var(--body-font);
		font-size:var(--text-sm);
		color:var(--app-indigo-1);
	}
}
// FAQ section End