// Section New Releases Start
section.la-new--releases{
    padding:var(--size-14) var(--size-base);
   
    .la-new__back{
        &:before{
            content:"\2190";
            position:absolute;
            display:block;
            top:-2%;
            left:-2%;
            color:var(--grey9);
            cursor:pointer;
            transition:all 0.3s ease-in;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-ms-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;
        }
        &:hover:before{
            left:-3%;
            transition:all 0.3s ease-out;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;
        }
    }
    .la-new__announcements{
        margin-right:calc(var(--size-20)*3);
        border-bottom:2px solid rgba(112,112,112,0.23);

        h1{
            padding-bottom:var(--size-4);
            color:var(--gray5);
            font-weight:var(--font-semibold);
        }
    }

    .la-new__meet-events{
        margin-right:calc(var(--size-20)*3);
    }
}
// Section New Releases Start

@media (max-width:1024px){
    section.la-new--releases{
        .la-new__back{
            &:before{top:-8%;left:1%; }
        }
    }
}

@media (max-width:991px){
    section.la-new--releases{
        padding:var(--size-10) var(--size-base);
        .la-new__back{
            &:before{top:-5%;left:3%; color:var(--gray6);    }
            &:hover:before{left:3%;}
        }
        .la-new__announcements{
            h1{ padding:var(--size-4) var(--size-base);}
        }
        .la-new__announcements,.la-new__meet-events{margin-right:0 !important;}
    }
}

@media (max-width:575px){
    section.la-new--releases{
        .la-new__back{
            &:before{left:10%;    }
        }
        .la-new__announcements{
            h1{padding:var(--size-6);}
        }
    }
}
