#{$ap}- {
    &announcement{
        &__{
            &card{
                margin-top:var(--size-4);
                background:#ffffff;
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 10px;
                border:none;
                width:275px;
                height:440px;
                padding-top:var(--size-2);
                overflow:scroll;
                z-index:-1;
                overflow:-moz-scrollbars-none;
                -ms-overflow-style: none; 
            }
            &card::-webkit-scrollbar{
                width:0 !important;
            }
            &name{ 
                padding:var(--size-2) var(--size-6);
                h6{
                    font-weight:var(--font-normal);
                    color:var(--gray-6);
                }
            }
            &view-more img{
                transition:all 0.3s ease-in;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-ms-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;
                &:hover{
                    transition:all 0.3s ease-out;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;
                    padding-right:var(--size-2);
                }
            }
            &item{  
                padding:var(--size-2) var(--size-6);

                &:hover{
                    border-right:3px solid #707070;
                }
            }
            &eprfle{
                img{
                    width:48px;
                    height:48px;
                    border-radius:var(--rounded-full);
                }
            }
            &event{
                padding:var(--size-2);
                font-weight:var(--font-normal);
                color:var(--gray-6);
            }
            &timestamp{
                color:#FFCE31;
            }
            &hline{
                margin-left:var(--size-4);  
                margin-right:var(--size-4);
                border-bottom: 1px solid rgba(158,158,158,0.15);
            }
        }
    }
}