#{$ap}- {
    &announcement{
        &__{
            &card{
                margin-top:calc(var(--size-4) + 2px);
                padding-top:var(--size-2);
                background-color: var(--white);
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 10px;
                border:none;
                width:420px;
                height:440px;
                overflow:scroll;
                z-index:-1;
                overflow:-moz-scrollbars-none;
                -ms-overflow-style: none; 

                @include respond-below(sm){
                    width:100%;
                    border-radius: 0 0 10px 10px;
                    
                }
            }
            &card::-webkit-scrollbar{
                width:0 !important;
            }
            &top{ 
                padding:var(--size-3) var(--size-5) 0;
            }
            &title{
                font-weight:var(--font-normal);
                color:var(--gray-6);
            }

            &view-more{
                transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;
                &:hover{
                    transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;
                    transform:translateX(16px);-webkit-transform:translateX(16px);-moz-transform:translateX(16px);-ms-transform:translateX(16px);-o-transform:translateX(16px);
                }
            }
            &item{  
                padding:var(--size-4) var(--size-5);
                border-bottom: 1px solid rgba(158,158,158,0.15);
                border-right:3px solid transparent;

                &:hover{
                    border-right:3px solid var(--app-indigo-1);
                    background-color: rgba(#eee, 0.35 );
                }
            }
            &eprfle{
                width:120px;
                height:80px;
                max-width:120px;
                max-height:80px;
                border-radius: 8px;
                background-color: var(--gray);
            
                img{
                    width:120px;
                    height:80px;
                    max-width:120px;
                    max-height:80px;
                    border-radius: 8px;
                    background-color: var(--gray);
                    object-fit: cover;
                    font-size: var(--text-xs);
                }
            }
            &info{
                &-{
                    &tag{
                        font-size: var(--text-xxs);
                        color:var(--app-indigo-1);
                        font-weight: var(--font-medium);
                    }
                    &event{
                        font-size: var(--text-sm);
                        font-weight:var(--font-normal);
                        color:var(--black);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2 !important;
                        -webkit-box-orient: vertical;
                    }
                    &name{
                        font-size:var(--text-xxs);
                        color:var(--black);
                        opacity: 0.8;
                    }
                    &duration{
                        font-size:var(--text-xxs);
                        color:var(--black);
                        opacity: 0.8;
                    }
                }
            }
           
            &timestamp{
                color:#FFCE31;
                font-size: var(--text-xxs);
            }
        }
    }
}