#{$ap}- {
    &news{
        &__{
            &app{
                &-{
                    &item{
                        padding:var(--size-10) 0;
                        margin-right:var(--size-12);
                        //border-bottom:2px solid var(--gray8);

                        @include respond-below(md){
                            margin-right:0;
                            padding:var(--size-6) 0;
                        }
                    }
                    &title{
                        color:var(--gray7);
                        font-weight:var(--font-semibold);  
                    }
                    &timestamp{
                        color:#FFCE31;
                        font-weight:var(--font-normal);
                    }
                    &content{
                        color:var(--gray5);
                        font-weight:var(--font-normal);
                        padding-bottom:var(--size-4);
                        border-bottom:1px dashed var(--gray8);
                    }
                    &desc{
                        color:var(--gray5);
                        font-weight:var(--font-normal);
                    }
                }
                
            }
        }
    }
}
