#{$ap}- {
    &lcourse{
        width:100%;
        max-width:450px;
        height:480px;
        display: table-cell;
        background-color:var(--white);
        border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;
        //margin-bottom:var(--size-8);
        transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);
        transition:all 0.25s ease-in-out;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;
        overflow:hidden;
        box-shadow: 0px 10px 10px #00000029;

        @media (max-width:1400px) and (min-width:1200px){
            height:420px;
        }

        &:hover{
            transform:translateY(-12px);-webkit-transform:translateY(-12px);-moz-transform:translateY(-12px);
            transition:all 0.25s ease-in-out;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;

            @include respond-below(md){
                transform: none;
            }

            .la-lcourse__imgwrap img{
                background:rgba(0,0,0,1);
            }                    
            .la-lcourse__play-triangle {
                stroke-dashoffset: 0;
                opacity: 1;
                stroke: #f8aa28;
            }
            .la-lcourse__play-circle {
                stroke: #f8aa28;
                transition: all 1s ease-in-out;-webkit-transition: all 1s ease-in-out;-moz-transition: all 1s ease-in-out;
                stroke-dashoffset: 0;
                opacity: 1;
            }
            .la-lcourse__options{
                opacity:1;
                transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;
            }
        }

        &__{
            &card{
                margin-bottom:var(--size-8);
                max-width:450px;
            }
            &inner{
                border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;
               
                &-{
                    &link{
                        width:100%;
                        height:100%;
                        border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;
                        position:relative;
                        display: block;
                        z-index:1;
                    }
                }
            }
            &imgwrap{
                position:relative;
                background-color: var(--black);
                width:100%;
                height:300px;
                border-radius: 10px 10px 0 0;-webkit-border-radius: 10px 10px 0 0;-moz-border-radius: 10px 10px 0 0;
                overflow: hidden;
                
                @media (max-width:1400px) and (min-width:1200px){
                    height:280px;
                }

                img{
                    background-color:var(--gray6);
                    position:relative;
                    z-index:0;
                    width:100%;
                    height:300px;
                    border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;
                    object-fit: cover;
                    object-position: top;
                    overflow: hidden;

                    @media (max-width:1400px) and (min-width:1200px){
                        height:280px;
                    }
                }
            }

            &overlay{
                display: flex;
                flex-direction: column;
                position:absolute;
                width:100%;
                height:300px;
                top:0;
                left:0;
                overflow: hidden;
                z-index:2;
                border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;
                
                @media (max-width:1400px) and (min-width:1200px){
                    height:280px;
                }

                &:hover{
                    border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;     
                    background-color: rgba(0,0,0,0.1);               
                }
                &-{
                    &info{
                        overflow: hidden;
                        border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;

                        &:hover{
                            border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;
                        }
                    }
                }
            }
            &free{
                width:100px;
                height:50px;
                margin:var(--size-2) var(--size-2);
                opacity:1;
                
                img{
                    width:100px;
                    height:40px;
                    opacity:1;
                }
            }
            &option {
                cursor:pointer;
                display:block;
                &:hover{
                    color:var(--yellow);
                }
                &s {
                    position: relative;
                    margin-left: auto;
                    margin-top:var(--size-3);
                    margin-right:var(--size-3);
                    padding-bottom:var(--size-base);
                    display: inline-flex;
                    align-items: center;
                    z-index: var(--z-10);
                    opacity: 0;
                    transition:all 0.35s ease-out;-webkit-transition:all 0.35s ease-out;-moz-transition:all 0.35s ease-out;
    
                    @include respond-below(md){
                        opacity:1;
                    }
                }

                &{
                    margin-left: var(--size-4);
                    
                }
            }
            &play{
                &-{
                    &svg{
                        width:60px;
                        height:60px;
                    }
                    &btn{
                        display: inline-block;
                        transition: all 0.8s ease;-webkit-transition: all 0.8s ease;-moz-transition: all 0.8s ease;-o-transition: all 0.8s ease;

                        .la-lcourse__play-triangle{
                            transition: all 1s ease-in-out;-webkit-transition: all 1s ease-in-out;-moz-transition: all 1s ease-in-out;-o-transition: all 1s ease-in-out;
                            stroke-dasharray: 240;
                            stroke-dashoffset: 480;
                            stroke: var(--white); 

                            @include respond-below(md){
                                stroke: #f8aa28;
                                stroke-dashoffset: 0;
                                opacity: 1;
                            }
                        }
                    }

                    &circle{
                        stroke: var(--white);
                        stroke-dasharray: 650;
                        stroke-dashoffset: 650;
                        transition: all 1s ease-in-out;-webkit-transition: all 1s ease-in-out;-moz-transition: all 1s ease-in-out;
                        opacity: 0.3;

                        @include respond-below(md){
                            stroke: #f8aa28;
                            stroke-dashoffset: 0;
                            opacity: 1;
                        }
                    }
                }
            }
            &progress{
                border-radius:0 !important;
                height:3%;
                &-{
                    &bar{
                        background-color:var(--green);
                        border-radius:0 !important;
                    }
                }
            }
            &info{
                position:relative;
                z-index:1;
               
                &-{
                    &inner{
                        height:100%;
                        margin:0 auto;
                        padding:var(--size-4) var(--size-4) var(--size-6);
                    }
                }
            }
            &classes,&videos{
                font-size:var(--text-sm);
                color:var(--gray4);
                padding-right:var(--size-base);

                @media (max-width:1400px) and (min-width:1200px){
                    font-size:var(--text-xs);
                }
            }
            &learners {
                font-size: var(--text-xs);
                color: var(--app-indigo-1);
            }
            &title{
                font-weight: var(--font-medium);
                color:var(--gray6);
                font-size: var(--text-lg);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; 
                -webkit-box-orient: vertical;

                @media (max-width:1400px) and (min-width:1200px){
                    font-size: var(--text-md);
                }
            }
            &creator {
                &:hover{
                    &> .la-lcourse__creator-name{
                        margin-right:var(--size-12);
                        transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;
                    }
                    &>.la-lcourse__creator-imgwrap> .la-lcourse__creator-img2{
                        left:-20px;
                        transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;
                    }
                    &>.la-lcourse__creator-imgwrap> .la-lcourse__creator-img3{
                        left:-36px;
                        transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;
                    }
                }
                &- {
                    &imgwrap {
                        width: var(--size-12);
                        height: var(--size-12);
                        border-radius: var(--rounded-full);-webkit-border-radius: var(--rounded-full);-moz-border-radius: var(--rounded-full);
                        border:1px solid var(--gray2);
                        box-shadow:0px 0px 30px #D4D4D47A;

                        img{
                            width: var(--size-12);
                            height: var(--size-12);
                            border-radius: var(--rounded-full);-webkit-border-radius: var(--rounded-full);-moz-border-radius: var(--rounded-full);
                            background-color: var(--white);
                            object-fit: cover;
                            object-position: top;
                        }
                    }
                    &img1{
                        left:0px;
                        z-index:3;
                    }
                    &img2{
                        left:-8px;
                        z-index:2;
                        transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;
                    }
                    &img3{
                        left:-16px;
                        z-index:1;
                        transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;
                    }
                    &name {
                        font-size: var(--text-sm);
                        color: var(--gray5);
                        opacity:0.75;
                        text-transform: capitalize;
                        margin-right:var(--size-6);
                        transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;
                    }
                }
            }            
        }
    }
}