#{$ap}- {
    &mcard{
        &__{
            &slider{
                background: #ffffff;
                box-shadow: 10px 20px 40px #E4E4E475 !important;
                -webkit-box-shadow: 0px 0px 40px #E4E4E475 !important;
                -moz-box-shadow: 0px 0px 40px #E4E4E475 !important;
                -ms-box-shadow: 0px 0px 40px #E4E4E475 !important;
                -o-box-shadow: 0px 0px 40px #E4E4E475 !important;
                border-radius:2px;
                width: 600px;
                opacity:1;

                @include respond-below(md){
                    width: 320px;
                }
            }
            &item{
                padding:var(--size-8) var(--size-10);

                @include respond-below(md){
                    padding:var(--size-6) var(--size-6);
                }
            }
            &img{
                width:100px;
                height:100px;
                background-color: var(--gray);
                object-fit: cover;

                @include respond-below(md){
                    width:70px;
                    height:70px;
                }
            }
            &name{
                font-weight:var(--font-bold);
                color:var(--gray5);
            }
            &desc{
                color:#000000;
                font-weight:var(--font-normal);
                opacity:0.73;
            }
        }
    }
}
