#{$ap}- {
    &cmenu {
        --cmenuW: 248px;
        position: absolute;
        width: var(--cmenuW);
        right: var(--size-2) !important;
        left: auto !important;
        background-color: #ffffff;
        border-radius: var(--size-3);
        overflow: hidden;
        transition: all 0.26s ease-out;
        padding-top: var(--size-4);
        padding-bottom: var(--size-4);
        box-shadow: 0px 6px 12px #00000029;
        transition: transform 0.26s ease-out;-webkit-transition: transform 0.26s ease-out;-moz-transition: transform 0.26s ease-out;

        @include respond-below(md){
            transform:translate3d(-10px, 42px, -40px) !important;
            -webkit-transform:translate3d(-10px, 42px, -40px) !important;
            -moz-transform:translate3d(-10px, 42px, -40px) !important;
        }
        &__ {
            &item {
                display: inline-flex;
                align-items: center;
                color: #222222;
                font-size: var(--text-sm);
                padding: var(--size-3) var(--size-5);
                border-top: 1px solid var(--gray2);

                &:hover {
                    color: #222222;
                    background-color: rgba(#E8E8E8, 0.5);
                }

                &-{
                    &icon{
                        font-size:var(--text-lg);
                        @include respond-above(sm){
                            font-size: var(--text-2xl);
                        }
                    }
                }
            }
            
        }
    }
}