#{$ap}- {
    &cbenefits {
        &__ {
            &item {
                background: rgba(#F5F4F0, 1);
                border-radius: var(--size-2);
                padding: var(--size-10);
                height:250px;
                
                @include respond-below(md){
                    padding:var(--size-8) var(--size-4);
                    height:100%;
                    text-align: center;
                }

                & img {
                    width: auto;
                    max-width: inherit !important;
                    height: 60px;
                }
                               
                &- {
                    &icon{
                        color:var(--yellow);
                        font-size:60px;
                    }
                    &col{
                        @include respond-below(md){
                            margin-bottom:var(--size-4);
                        }
                    }
                    &title {
                        font-family: var(--head-font);
                        font-size: var(--text-lg);
                        text-transform: uppercase;
                        color: #222222;
                        font-weight: var(--font-bold);
                    }
                    &icon {

                    }
                    &desc {
                        color: #252525;
                    }
                }
            }
        }
    }
}