#{$ap}- {
    &ctabs{
        &__{
            &about{
                border-bottom:1px dashed var(--gray2);

                @include respond-below(md){
                    margin-bottom:var(--size-10);
                }

                &-{
                    &desc{
                        p{
                            font-weight:var(--font-normal);
                            color:var(--gray6);
                            font-family:var(--body-font);
                        }
                    }
                    &list{
                        i{
                            color:#32CD32;
                        }
                        span{
                            color:var(--gray5);
                            font-weight:var(--font-normal);
                        }
                    }
                }
            }
            &resources{
                @include respond-below(md){
                    margin-bottom:var(--size-10);
                }

                &-{
                    &title{
                        color:var(--gray7);
                        font-weight:var(--font-bold);
                    }
                    &file{
                        color:var(--app-indigo-1);
                    }
                }
            }
            &certificate{
                @include respond-below(md){
                    margin-bottom:var(--size-10);
                }

                &-{
                    &title{
                        color:var(--gray7);
                        font-weight:var(--font-bold);
                    }
                    &file{
                        color:var(--app-indigo-1);
                    }
                }
            }
            &download{
                &-{
                    &all{
                        color:var(--app-indigo-1);
                        letter-spacing: 3.2px;
                        font-weight:var(--font-bold);
                        margin-top:var(--size-14);
                    }
                }
            }
        }
    }
}
