#{$ap}- {
    &ctabs{
        &__{
            &section{
                @include respond-below(sm){
                    padding: 0 !important;
                }
            }
            &about{
                @include respond-below(md){
                    margin-bottom:var(--size-10);
                }

                @include respond-below(sm){
                    margin-bottom:0;
                    border-bottom:1px dashed var(--gray2);
                }

                &-{
                    &section{
                        @include respond-above(lg){
                            //padding-right:var(--size-20);
                        }
                    }
                    &desc{
                        p{
                            font-weight:var(--font-normal);
                            color:var(--gray6);
                            font-family:var(--body-font);
                        }
                    }
                    &list{
                        i{
                            color:#32CD32;
                        }
                        span{
                            color:var(--gray5);
                            font-weight:var(--font-normal);
                        }
                    }
                }
            }
            &resources{
                @include respond-below(md){
                    margin-bottom:var(--size-6);
                }

                &-{
                    &title{
                        color:var(--gray7);
                        font-weight:var(--font-bold);
                    }
                    &file{
                        color:var(--app-indigo-1);
                    }
                    &download{
                        font-weight:var(--font-medium);
                        color:var(--gray3);
                    }
                }
            }
            &certificate{
                @include respond-below(md){
                    margin-bottom:var(--size-10);
                }

                &-{
                    &title{
                        color:var(--gray7);
                        font-weight:var(--font-bold);
                    }
                    &file{
                        color:var(--app-indigo-1);
                    }
                }
            }
            &download{
                &-{
                    &all{
                        color:var(--app-indigo-1);
                        letter-spacing: 1.8px;
                        font-weight:var(--font-bold);
                        margin-top:var(--size-14);
                    }
                }
            }
        }
    }
}
