#{$ap}- {
    // Course: Start
    &course {
        --courseW: 300px;
        --courseH: 220px;
       
        
        @include respond-above(md) {
            // --courseW: 340px;
            // --courseH: 226px;
        }
       & {
        //    width: var(--courseW);
           margin-bottom: var(--size-9);
       }

        &s {
            &__ {
                &nav {
                    &- {
                        &tabs {
                            margin-bottom: var(--size-12);
                            flex-wrap:nowrap;
                            overflow-x:scroll;
                        }
                        &tabs::-webkit-scrollbar {
                            width:0;
                            background:transparent;
                        }
                        &tabs::-webkit-scrollbar-thumb {
                            background: transparent;
                        }
                        &item {
                            margin-right: var(--size-14);
                        }
                        &link {
                            font-family: var(--head-font);
                            font-size: var(--text-3xl);
                            font-weight: var(--font-black);
                            color: rgba(#222, 0.25);
                            border-radius: 0 !important;
                            padding: 0;
                            background: none !important;
                            text-transform: uppercase;
                            position: relative;

                            &:before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: calc(-1 * var(--size-2));
                                width: var(--size-5);
                                height: var(--size-5);
                                border: 2px solid transparent;
                                border-radius: var(--rounded-full);
                                z-index: calc(-1 * var(--z-1));
                                opacity: 0;
                                transform: translateX(-8px);
                                transition: opacity 0.24s ease-out, transform 0.24s ease-out;
                            }

                            &.active {
                                color: rgba(#222, 1) !important;
                                &:before {
                                    border-color:#FFC516;
                                    transform: translateX(0);
                                    opacity: 1;
                                    z-index: 0;
                                }
                            }
                        }
                        &filter{
                            &:hover{
                                color:var(--app-indigo-1);
                            }
                        }
                    }
                }

                &content {

                }
            }
        }

        &__ {
            &inner {
                position: relative;
                // height: var(--courseH);
            }
            &imgwrap {
                border-radius: var(--size-2);
                transition: transform 0.24s ease-out;
                overflow: hidden;
                img {
                    transition: transform 0.24s ease-out;
                }
            }
            &overlay {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: var(--size-3);
                background: transparent linear-gradient(180deg, #010101 0%, #8E8E8E05 0%, #000000 150%) 0% 0% no-repeat padding-box;
                z-index: var(--z-10);
                border-radius: var(--size-2);
                &:hover {
                    cursor: pointer;
                }
                // opacity: 0.51;
                &:hover + #{$ap}-course__imgwrap img {
                    transform: scale(1.1);
                }

            }
            &option {
                &:hover{
                    color:var(--yellow);
                }
                &s {
                    position: relative;
                    margin-left: auto;
                    display: inline-flex;
                    align-items: center;
                    z-index: var(--z-1);
                }

                &{
                    margin-left: var(--size-4);
                    
                }
            }
            &learners {
                margin-top: auto;
                // font: Bold 11px/13px Roboto;
                // font-weight: var(--font-bold);
                font-size: var(--text-xs);
                letter-spacing: 1.1px;
                color: #FFF;
                align-self: flex-end;

                /*&:after{
                    position:absolute;
                    content:'';
                    right:45px;
                    bottom:20px;
                    width:50px;
                    height:1px;
                    border-top:1px solid orange;
                    transform:rotate(30deg);
                } */
            }
            &btm {
                padding: var(--size-4) var(--size-5);
                padding-bottom: 0;
            }
            &info {
                margin-bottom: var(--size-3);
            }
            &title {
                font-weight: var(--font-bold);
                font-size: var(--text-xl);
                color: #252525;

                &:hover{
                    color:var(--app-indigo-1);
                }
            }
            &rating {

            }
            &creator {
                
                &- {
                    &imgwrap {
                        width: var(--size-10);
                        height: var(--size-10);
                        border-radius: var(--rounded-full);
                        overflow: hidden;
                        margin-right: var(--size-3);

                        &:hover{
                            box-shadow:0px 0px 30px #D4D4D47A;
                        }
                    }
                    &name {
                        font-size: var(--text-sm);
                        color: #010101;

                        &:hover{
                            color:var(--app-indigo-1);
                        }
                    }
                }
            }

            &progress {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                color: #ffffff;
                z-index: var(--z-10);
                &- {
                    &bar {
                        height: calc(var(--size-2) - 2px);
                    }

                    &fill {
                        background: #1ec812;
                        width: 66%;
                        height: 100%;
                    }

                    &percent {
                        text-align: right;
                    }
                }
            }

            &menubtn {
                &:after {
                    display: none;
                }
            }
        }
    }
    // Course: End
}