#{$ap}- {
    &creator {
        &__ {
            &inwrap {
                width:320px;
                height: 320px;
                background-color: #FFC516;
                border-radius: 100%;
                z-index: -1;

                @include respond-below(md){
                    width:250px;
                    height:250px;
                }
            }
            
            &img {
                img {
                    width:300px;
                    height: 300px;
                    border-radius:100%;
                    background-color:#FFC516;
                    object-fit: cover;

                    @include respond-below(md){
                        width:230px;
                        height:230px;
                    }
                }
            }
            &detail {
                margin-bottom: -2px;
            }
            &name {
                font-size: var(--text-2xl);
                line-height: var(--text-2xl);
                font-weight: var(--font-light);
            }
            &specialist {
                font-family: var(--head-font);
                font-size: var(--text-xl);
                line-height: var(--text-xl);
                font-weight: var(--font-semibold);
            }

            &content {

                @include respond-below(sm){
                    padding-top:var(--size-10);
                }
                &- {
                    &icon{
                        font-size:var(--text-5xl);
                        color:var(--gray6);
                        opacity:0.25;
                        font-family: var(--head-font);
                        font-weight: var(--font-black);

                        @include respond-above(md){
                            font-size:var(--text-8xl);
                        }
                    }
                    &title {
                        & #{$ap}-- {
                            &text {
                                font-size: var(--text-3xl);
                                font-weight: var(--font-light);

                                @include respond-below(md){
                                    font-size: var(--text-xl);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // &creators {
    //     &__ {
    //         &profile {
    //             width: 344px;
    //             height: 256px;
    //             background-color: #ffc516;
    //             border-radius: 10px;
    //         }
    
    //         &info {
    //             right: 0;
    //             bottom: 0;
    //             margin-top: 15px;
    //         }
    
    //         &name {
    //             font-size: var(--text-2xl);
    //             font-family: var(--body-font);
    //             font-weight: var(--font-light);
    //             color: #222222;
    //         }
    
    //         &designation {
    //             font-size: var(--text-xl);
    //             font-family: var(--head-font);
    //             font-weight: var(--font-semibold);
    //             color: #222222;
    //         }
    
    //         &say {
    //             font-size: var(--text-3xl);
    //             font-family: var(--body-font);
    //             font-weight: var(--font-light);
    //             color: #222222;
    //         }
    
    //         &desc {
    //             font-size: var(--text-md);
    //             font-family: var(--body-font);
    //             font-weight: var(--font-normal);
    //         }
    
    //         &readmore {
    //             font-size: var(--text--md);
    //             font-family: var(--body-font);
    //             font-weight: var(--font-bold);
    //             letter-spacing: 3.2px;
    //             color: #7400d7;
    //         }
    //     }
    // }
}
     