 .la-creators {
     .la-creators__profile {
         width: 344px;
         height: 256px;
         background-color: #ffc516;
         border-radius: 10px;
     }

     .la-creators__info {
         right: 0;
         bottom: 0;
         margin-top: 15px;
     }

     .la-creators__name {
         font-size: var(--text-2xl);
         font-family: var(--body-font);
         font-weight: var(--font-light);
         color: #222222;
     }

     .la-creators__designation {
         font-size: var(--text-xl);
         font-family: var(--head-font);
         font-weight: var(--font-semibold);
         color: #222222;
     }

     .la-creators__say {
         font-size: var(--text-3xl);
         font-family: var(--body-font);
         font-weight: var(--font-light);
         color: #222222;
     }

     .la-creators__desc {
         font-size: var(--text-md);
         font-family: var(--body-font);
         font-weight: var(--font-normal);
     }

     .la-creators__readmore {
         font-size: var(--text--md);
         font-family: var(--body-font);
         font-weight: var(--font-bold);
         letter-spacing: 3.2px;
         color: #7400d7;
     }
 }