#{$ap}- {
    &news{
        &__{
            &item{
                padding:var(--size-10) 0;
                //border-bottom:2px solid var(--gray8);

                @include respond-below(md){
                    padding:var(--size-6) 0;
                    margin-right:0;
                }
            }
            &eimg{
                min-width:350px;
                min-height:280px;
                border-radius:10px;
                background-color: var(--white);
                overflow: hidden;

                @include respond-below(md){
                    min-width:300px;
                }
                @include respond-below(sm){
                    width:100%;
                    min-height:250px;
                }
               
                img{
                    min-width:350px;
                    min-height:280px;
                    border-radius:10px;
                    background-color: var(--white);
                    object-fit: cover;
                    object-position: top;

                    @include respond-below(md){
                        min-width:300px;
                    }
                    @include respond-below(sm){
                        width:100%;
                        min-height:250px;
                        margin:0;
                    }
                   
                }
            }
            &etitle{
               
                @include respond-below(sm){
                    padding:var(--size-6) 0;
                }
                @include respond-above(sm){
                    padding:0 0 0 var(--size-5);
                }
                @include respond-above(md){
                    padding:0 var(--size-12);
                }
            }
            &title{
                color:var(--gray7);
                font-weight: var(--font-medium);
            } 
            &timestamp{
                color:#FFCE31;
                font-weight:var(--font-normal);
            }
            &content{
                color:var(--gray5);
                font-weight:var(--font-normal);
                padding-top:var(--size-2);
                padding-bottom:var(--size-4);
               
                span{
                    color:var(--gray5);
                    font-weight:var(--font-normal);
                }
            }
            &readmore{  
                font-size:var(--text-sm);
                color:var(--app-indigo-1);
                font-weight:var(--font-normal);
                display:block;
                position: relative;
                
                &:after{
                    font-family: var(--head-font);
                    content: "Read Less...";
                    position:absolute;
                    top:-15px;
                    left:0;
                    color: var(--app-indigo-1) !important;
                    font-weight: var(--font-normal);
                    //transform:rotate(180deg);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);
                    transition: all 0.25s ease-in;-webkit-transition: all 0.25s ease-in;-moz-transition: all 0.25s ease-in;-ms-transition: all 0.25s ease-in;-o-transition: all 0.25s ease-in;
                }
                &.collapsed:after{
                    content:"Read More...";
                    position: absolute;
                    top:-15px;
                    left:0;
                }
            }           
        }
    }

}
