#{$ap}-{
    &locked{
        &__{
            &modal{
                top:6% !important;
                &-{
                    &content{
                        width:400px !important;
                        height:auto;
                        box-shadow: 0px 6px 12px #00000029;
                        border-radius: 10px; 
                        padding: var(--size-6) var(--size-8) !important; 
                        margin:0 auto;
                    }
                    &header{
                        border-bottom:none !important;
                        padding:0;
                    }
                    &title{
                        color:var(--gray7);
                        font-weight:var(--font-normal);
                    }
                    &img{
                        padding:var(--size-5) 0;
                    }
                    &desc{
                        color:var(--gray6);
                    }
                    &btn{
                        background:var(--white);
                        color:var(--gray6);
                        &:hover{
                            color:var(--white);
                        }
                    }
                    &info{
                        color:var(--gray9);
                        font-size:var(--text-sm);
                    }
                    &link{
                        color:var(--app-indigo-1);
                        font-weight:var(--font-medium);
                        &:hover{
                            color:var(--gray6);
                        }
                    }
                }
            }
        }
    }
}