#{$ap}- {
    // Master Class: Start
    &mccourse {
        // --mccourse-width: 474px;
        // --mccourse-height: 310px;

        @media screen and (min-width:  var(--breakpoint-md)) {
            --mccourse-width: 350px;
            --mccourse-height: 450px;

        }

        position: relative;
        width: var(--mccourse-width);
        height: var(--mccourse-height);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        border-radius: var(--size-2);
        margin-bottom: calc(var(--size-7) + 2px);

        &s {
            height: auto;
            margin-top: -90px;
            position:relative;
            z-index:var(--z-2);
            
            @media screen and (min-width:  var(--breakpoint-md)) {
                margin-top: calc(-1 * var(--size-20));
            }

            &__ {
                &explore {
                    // font: Bold 16px/19px Roboto;
                    font-weight: var(--font-bold);
                    text-transform: uppercase;
                    letter-spacing: 3.2px;
                    color: #7400D7;
                }
            }
        }


        &:hover & {
            &__ {
                &imgwrap {
                    transform: scale(1.05);-webkit-transform: scale(1.05);-moz-transform: scale(1.05);
                    
                }
                &overlay {
                    // background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);;
                }
            }
        }

        &__ {
            &imgwrap{
                transition: all 0.24s ease-out;-webkit-transition: all 0.24s ease-out;-moz-transition: all 0.24s ease-out;
                height: 450px;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

                @include respond-below(md){
                   // height:220px;
                }

                img{
                    width:100%;
                    height:450px;
                    object-fit: cover;
                    object-position:center;

                    @include respond-below(md){
                        //height:220px;
                    }
                }
            }
                        
            &overlay {
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background:rgba(0,0,0,0.4);
                //background: transparent linear-gradient(rgba(0, 0, 0, 0.54) 0%, rgba(152, 152, 152, 0.25) 49.54%, rgba(0, 0, 0, 0.79) 100%);
                //-webkit-background: transparent linear-gradient(rgba(0, 0, 0, 0.54) 0%, rgba(152, 152, 152, 0.25) 49.54%, rgba(0, 0, 0, 0.79) 100%);
                //-moz-background: transparent linear-gradient(rgba(0, 0, 0, 0.54) 0%, rgba(152, 152, 152, 0.25) 49.54%, rgba(0, 0, 0, 0.79) 100%);
                // opacity: 0.66;
                padding: var(--size-3);
                color: #fff;
                transition: all 0.24s ease-out;-webkit-transition: all 0.24s ease-out;-moz-transition: all 0.24s ease-out;
            }
            &tag{
                position: relative;
                top: -20px;
                left: 0;
                width:110px;
                height:110px;
                
                img{
                    width:60px;
                    height:60px;

                    @include respond-above(sm){
                        width:140px;
                        height:80px;
                    }
                }
            }

            &type {
                position: absolute;
                top: var(--size-3);
                right: var(--size-3);
                width: var(--size-10);
                height: var(--size-10);
                background-color:var(--app-indigo-1);
                border-radius: var(--rounded-full);

                &:hover{
                    background-color:var(--yellow);
                }
                &-{
                    &icon{
                        padding:12px 14px; 
                        opacity:0.85;
                    }
                }
            }
            &title {
                margin-top: auto;
                font-size: var(--text-xl);
                font-weight: var(--font-light);
                margin-bottom: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; 
                -webkit-box-orient: vertical;

                @include respond-above(sm){
                    font-size: var(--text-xl);
                }
            }
            &btm {
                display: flex;
                align-items: center;
            }
            &cprofile {
                display: flex;
                align-items: center;
                margin-right: auto;
                &- {
                    &imgwrap {
                        width: var(--size-10);
                        height: var(--size-10);
                        margin-right: var(--size-2);
                        border-radius: var(--rounded-full);
                        overflow: hidden;
                        background-color: var(--white);

                        @include respond-below(sm){
                            width: var(--size-8);
                            height: var(--size-8);
                        }

                        img{
                            width: var(--size-10);
                            height: var(--size-10);
                            object-fit: cover;
                            object-position: center;
                            border-radius: var(--rounded-full);
                            background-color: var(--white);

                            @include respond-below(sm){
                                width: var(--size-8);
                                height: var(--size-8);
                            }
                        }
                    }
                    &name {
                        font-size: var(--text-md);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1; 
                        -webkit-box-orient: vertical;

                        @include respond-above(sm){
                            font-size: var(--text-xl);
                        }
                    }
                }
            }
            &learners {
                font-size: var(--text-sm);
                font-weight: var(--font-light);
            }

            &view{
                &-{
                    &more{
                        z-index:99;
                    }
                }
            }
        }
        
    }
    // Master Class: End
}