#{$ap}- {
    // Master Class: Start
    &mccourse {
        // --mccourse-width: 474px;
        // --mccourse-height: 310px;

        @media screen and (min-width:  var(--breakpoint-md)) {
            --mccourse-width: 350px;
            --mccourse-height: 450px;

        }

        position: relative;
        width: var(--mccourse-width);
        max-height: var(--mccourse-height);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.55);
        overflow: hidden;
        border-radius: var(--size-2);
        margin-bottom: calc(var(--size-7) + 2px);     

        
        &s {
            height: auto;
            // margin-top: -90px;
            padding-top: 0 !important;
            position:relative;
            z-index:var(--z-2);
            
            @media screen and (min-width:  var(--breakpoint-md)) {
                margin-top: calc(-1 * var(--size-20));
            }

            &__ {
                &explore {
                    // font: Bold 16px/19px Roboto;
                    font-weight: var(--font-bold);
                    text-transform: uppercase;
                    letter-spacing: 3.2px;
                    color: #7400D7;
                }
            }
        }

        &:hover & {
            &__ {
                &imgwrap {
                    transform: scale(1.05);-webkit-transform: scale(1.05);-moz-transform: scale(1.05);
                    
                }
                &overlay {
                    // background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);

                    .la-mccourse__play-triangle {
                        stroke-dashoffset: 0;
                        opacity: 1;
                        stroke: #f8aa28;
                        animation: nudge 0.7s ease-in-out;-webkit-animation: nudge 0.7s ease-in-out;-moz-animation: nudge 0.7s ease-in-out;
                      }
                      
                      .la-mccourse__play-circle {
                        stroke-dashoffset: 0;
                        opacity: 1;
                        transition: all 0.8s ease;-webkit-transition: all 0.8s ease;-moz-transition: all 0.8s ease;-o-transition: all 0.8s ease;
                      }
                }
            }
        }

        &__ {
            &imgwrap{
                transition: all 0.24s ease-out;-webkit-transition: all 0.24s ease-out;-moz-transition: all 0.24s ease-out;
                width:100%;
                height: 450px;
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
                overflow: hidden;
                position:relative;

                &:after{
                    display:block;
                    content:"";
                    padding-bottom:100%;
                }

                img{
                    position:absolute;
                    width: 100%;
                    height:100%;
                    top:0;
                    left:0;
                    object-fit: cover;
                    object-position: top;
                    transform: scale(1);
                }
            }
                        
            &overlay {
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: transparent linear-gradient(rgba(0, 0, 0, 0.24) 0%, rgba(152, 152, 152, 0.25) 49.54%, rgba(0, 0, 0, 0.65) 100%);
                -webkit-background: transparent linear-gradient(rgba(0, 0, 0, 0.24) 0%, rgba(152, 152, 152, 0.25) 49.54%, rgba(0, 0, 0, 0.95) 100%);
                -moz-background: transparent linear-gradient(rgba(0, 0, 0, 0.24) 0%, rgba(152, 152, 152, 0.25) 49.54%, rgba(0, 0, 0, 0.95) 100%);
                padding: var(--size-3);
                color: #fff;
                transition: all 0.24s ease-out;-webkit-transition: all 0.24s ease-out;-moz-transition: all 0.24s ease-out;
            }
            &tag{
                position: relative;
                top: -20px;
                left: 0;
                width:110px;
                height:110px;
                
                img{
                    width:60px;
                    height:60px;

                    @include respond-above(sm){
                        width:140px;
                        height:80px;
                    }
                }
            }

            &type {
                position: absolute;
                top: var(--size-3);
                right: var(--size-3);
                width: var(--size-10);
                height: var(--size-10);
                background-color:var(--app-indigo-1);
                border-radius: var(--rounded-full);

                &:hover{
                    background-color:var(--yellow);
                }
                &-{
                    &icon{
                        padding:12px 14px; 
                        opacity:0.85;
                    }
                }
            }
            &play{
                &-{
                    &svg{
                        width:75px;
                        height:75px;
                    }
                    &btn{
                        display: inline-block;
                        transition: all 0.8s ease;-webkit-transition: all 0.8s ease;-moz-transition: all 0.8s ease;-o-transition: all 0.8s ease;

                        .la-mccourse__play-triangle{
                            transition: all 1s ease-in-out;-webkit-transition: all 1s ease-in-out;-moz-transition: all 1s ease-in-out;-o-transition: all 1s ease-in-out;
                            stroke-dasharray: 240;
                            stroke-dashoffset: 480;
                            stroke: var(--white);
                            transform: translateY(0);-webkit-transform: translateY(0);-moz-transform: translateY(0); 
                        }

                        @include respond-below(md){
                            .la-mccourse__play-triangle {
                                stroke-dashoffset: 0;
                                opacity: 1;
                                stroke: #f8aa28;
                                animation: nudge 0.7s ease-in-out;-webkit-animation: nudge 0.7s ease-in-out;-moz-animation: nudge 0.7s ease-in-out;
                              }
                              
                              .la-mccourse__play-circle {
                                transition: all 1s ease-in-out;-webkit-transition: all 1s ease-in-out;
                                stroke-dashoffset: 0;
                                opacity: 1;
                              }
                        }
                    }

                    &circle{
                        stroke: #f8aa28;
                        stroke-dasharray: 650;
                        stroke-dashoffset: 650;
                        transition: all 1s ease-in-out;-webkit-transition: all 1s ease-in-out;
                        opacity: 0.3;
                    }
                }
            }
            &title {
                margin-top: auto;
                font-size: var(--text-xl);
                font-weight: var(--font-semibold);
                margin-bottom: var(--size-2);
                //overflow: hidden;
                //text-overflow: ellipsis;
                //display: -webkit-box;
                //-webkit-line-clamp: 1; 
                //-webkit-box-orient: vertical;

                @include respond-above(sm){
                    font-size: var(--text-2xl);
                }
            }
            &btm {
                display: flex;
                align-items: center;
            }
            &cprofile {
                display: flex;
                align-items: center;
                margin-right: auto;
                &- {
                    &imgwrap {
                        width: var(--size-10);
                        height: var(--size-10);
                        margin-right: var(--size-2);
                        border-radius: var(--rounded-full);
                        overflow: hidden;
                        background-color: var(--white);

                        
                        img{
                            width: var(--size-10);
                            height: var(--size-10);
                            object-fit: cover;
                            object-position: top;
                            border-radius: var(--rounded-full);
                            background-color: var(--white);

                        }
                    }
                    &name {
                        font-size: var(--text-md);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1; 
                        -webkit-box-orient: vertical;

                        @include respond-above(sm){
                            font-size: var(--text-xl);
                        }
                    }
                }
            }
            &learners {
                font-size: var(--text-sm);
                font-weight: var(--font-light);
            }

            &view{
                &-{
                    &more{
                        z-index:99;
                        right:20px;

                        @include respond-above(lg){
                            right:100px;
                        }
                        
                        @include respond-below(md){
                            margin-top:var(--size-6);
                        }
                    }
                }
            }
        }
        
    }
    // Master Class: End
}