#{$ap}- {
    &news{
        &__{
            &meet{

                &-{
                    &item{
                        padding-top:var(--size-10);
                        padding-bottom:var(--size-10);
                        margin-right:var(--size-12);
                        border-bottom:2px solid var(--gray8);

                        @include respond-below(md){
                            margin-right:0 !important;
                        }
                    }

                    &title{
                        color:var(--gray7);
                        font-weight:var(--font-semibold);
                    }
                    &timestamp{
                        color:#FFCE31;
                        font-weight:var(--font-normal);
                    }
                    &content{
                        color:var(--gray5);
                        font-weight:var(--font-normal);
                        padding-bottom:var(--size-4);

                        @include respond-below(md){
                            border-bottom:1px dashed var(--gray8);
                        }
                    }
                    &banner{
                        width:850px;
                        height:250px;
                        border-radius:10px;
                        background-color: var(--white);

                        @include respond-below(md){
                            width:100%;
                            height:auto;
                            margin:0 auto;
                        }

                        img{
                            width:850px;
                            height:250px;
                            object-fit: cover;
                            background-color: var(--white);
                            
                            @include respond-below(md){
                                width:100%;
                                height: auto;
                            }
                            
                        }
                    }
                }
            }
            
        }
    }
}

