// .playlist__timeline {
//     position: relative;
//     margin-left: 10px;
//     border-radius: 0 8px 8px 0;
//     padding: 5px 0;
// }

// .playlist__timeline:after {
//     content: '';
//     width: 2px;
//     height: 100%;
//     margin-top: 26px;
//     background-color: black;
//     position: absolute;
//     left: -2px;
//     top: 0;
// }

// .playlist__item {
//     position: relative;
//     padding-left: 4px;
//     padding-top: 5px;

//     &:after {
//         content: '';
//         width: 16px;
//         height: 16px;
//         border-radius: 50%;
//         border: 2px solid black;
//         background-color: white;
//         position: absolute;
//         left: -10px;
//         top: 45%;
//         z-index: 9;
//     }
// }

$height-half: 134px;
$image-center: -30px;

#{$ap}- {
    &playlist {
        &__ {
            &add{
                &-{
                    &btn{
                        height:200px;
                    }
                    //-Wishlist page
                    &wishlist{
                        height:250px;

                        @include respond-above(lg){
                            height:250px;
                        }
                        @include respond-below(md){
                            height:230px;
                        }
                    }
                }
            }
            &mobile{
                color: var(--app-indigo-1);
                letter-spacing: 1px;
                font-weight: var(--font-semibold);
            }
            &item {
                &- {
                    &top {
                        border-radius: 10px;
                        height:200px;
                        overflow: hidden;
                        
                        &:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: transparent linear-gradient(144deg, #FFFFFF00 0%, #000000 100%) 0% 0% no-repeat padding-box;
                            -webkit-background: transparent linear-gradient(144deg, #FFFFFF00 0%, #000000 100%) 0% 0% no-repeat padding-box;
                            -moz-background: transparent linear-gradient(144deg, #FFFFFF00 0%, #000000 100%) 0% 0% no-repeat padding-box;
                            opacity: 0.7;
                        }
                    }
                    &share{
                        color:var(--app-indigo-1);

                        &:hover{
                            color:var(--gray6);
                        }
                    }
                    &clipboard{
                        color:var(--gray10);
                        &:hover{
                            color:var(--app-indigo-1);
                        }
                    }
                }
            }
            &thumbnail {
                
                &s {
                    &-- {
                        &two {
                            // display: none;

                            & #{$ap}- {
                                &playlist {
                                    &__ {
                                        &thumbnail {
                                            height: $height-half;
                                            overflow: hidden;
                                            & img {
                                                margin-top: $image-center;
                                                object-fit: cover;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &three {
                            & #{$ap}- {
                                &playlist {
                                    &__ {
                                        &thumbnail {
                                            &:nth-child(1) {
                                                width:100%;
                                                height: 100px;
                                                & img {
                                                    //margin-top: $image-center;
                                                    width:100%;
                                                    object-fit: cover;
                                                }
                                            }
                                            &:nth-child(2),
                                            &:nth-child(3) {
                                                width: 50%;

                                                @include respond-below(lg){
                                                    margin-top:15px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &option {
                &- {
                    &more {
                        right: 0;

                        &-- {
                            &white {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
            // &category {
            //     &- {
            //         &name {
            //             font-weight: var(--font-bold);
            //             font-size: var(--text-xl);
            //             color: var(--gray5);
            //         }
            //     }
            // }
            &course {
                &- {
                    &name {
                        font-weight: var(--font-bold);
                        font-size: var(--text-xl);
                        color: var(--gray5);
                    }
                    &count {
                        font-size: var(--text-sm);
                    }

                    //- If No courses found in playlist/courses
                    &nocourse{
                        background-color: var(--white);
                        box-shadow: 0px 1px 2px #00000029;
                        border-radius: 10px;
                        padding: var(--size-12);
                        margin: var(--size-8) 0;
                        line-height: 1.6;
                    }
                    &browse{
                        @media(max-width:767px){
                            padding-top: var(--size-6);
                        }
                        &:hover{
                            color: var(--app-indigo-1);
                            transform:translateX(15px);-webkit-transform:translateX(15px);-moz-transform:translateX(15px);
                            transition:all 0.35s linear;-webkit-transition:all 0.35s linear;-moz-transition:all 0.35s linear;
                        }
                    }   
                    &view{
                        color: var(--app-indigo-1);
                        font-size: var(--text-sm);
                        text-transform: uppercase;
                        font-weight: var(--font-bold);
                        letter-spacing: 2.8px;
                        position: relative;
                        transition:all 0.35s linear;-webkit-transition:all 0.35s linear;-moz-transition:all 0.35s linear;

                        span{
                            position: absolute;
                            bottom:-22px;
                            right:-15px;
                        }      
                    }   
                }
            }
            

            &modal{
                top:12% !important;
                               
                &-{
                    &body{
                        padding-bottom:0;
                    }
                    &content{
                        width:320px !important;
                        height:auto;
                        box-shadow: 0px 6px 12px #00000029;
                        border-radius: 10px; 
                        padding: var(--size-6) var(--size-6); 
                        margin:0 auto;
                    }
                    &header{
                        border-bottom:none !important;
                    }
                    &title{
                        font-family: var(--head-font);
                        font-weight: var(--font-semibold);
                        color: var(--gray6);
                        font-size: var(--text-sm);
                    }
                    &name{
                        color: var(--gray6);
                        font-size: var(--text-sm);
                    }
                    &inputtype{
                        border:none;
                        border-bottom:1px solid var(--gray6);
                        padding: var(--size-base) 0;
                        opacity:0.5;

                        &::placeholder, &::-webkit-input-placeholder{
                            font-size: var(--text-sm);
                            color: var(--gray9);
                            padding-left: var(--size-2);
                        }
                        &:focus{
                            color: var(--gray6);
                            opacity: 1;
                            padding-left:var(--size-2);
                        }
                    }
                    &addtoinput{
                        border:none;
                        border-left:1px solid var(--gray6);
                    }
                    &search{
                        color:var(--gray9);
                    }
                    &update{
                        color: var(--app-indigo-1);
                        font-size: var(--text-md);
                        letter-spacing: 1.5px;
                        text-transform: uppercase;
                        padding-top:var(--size-8);
                        font-weight: var(--font-medium);
                    }
                    &list{
                        height:220px;
                        overflow:scroll;
                        margin:var(--size-4) 0;
                        
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        &::-webkit-scrollbar {
                            width: 0px; 
                            background: transparent;  
                        }
                    }
                    &item{
                        padding:var(--size-3) 0 !important;
                    }
                }                 
            }
        }
    }
}
