#{$ap}- {
    &purchaseh{
        &__{
            &item{
                &-{
                    &mobile{
                        @include respond-below(md){
                            margin-bottom:var(--size-8);
                        }
                    }
                }
            }
            &item-img{
                width:160px;
                height:100px;
                overflow:hidden;
                border-radius:10px;
                background-color: var(--white);
                img{
                    width:160px;
                    height:100px;
                    background-color: var(--white);
                    transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;
                    
                    &:hover{
                        transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);
                        transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;
                    }
                }
            }
            &item-title{
                color:var(--gray6);
                font-weight:var(--font-bold);
            }
            &item-author{
                color:var(--gray6);
                font-weight:var(--font-normal);
            }
            &item-date, &item-paymode, &item-total{
                color:var(--gray6);
                font-weight:var(--font-normal);
            }
            &item-paystatus{
                color:#1EC812;
            }
            &item-invoice{
                color:var(--gray6);
                font-weight:var(--font-medium);

                &:hover{
                    color:var(--app-indigo-1);
                }
            }
            &item-download{
                color:var(--app-indigo-1);
            }
        }
    }
}


@media (max-width:991px){
    #{$ap}- {
        &purchaseh{
            &__{
                &item-img{
                    width:100px;
                    img{
                        width:100px;
                    }
                }
                &item-invoice{
                    color:var(--app-indigo-1);
                }  
                &item-toggler{
                    color: var(--app-indigo-1);

                    &:after{
                        font-family: 'icomoon';
                        content: "\e96d";
                        margin-top:1.3px;
                        position:absolute;
                        top:0;
                        right:-16px;
                        font-size: var(--text-sm);
                        transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);
                        transition: all 0.25s ease-in;-webkit-transition: all 0.25s ease-in;-moz-transition: all 0.25s ease-in;-ms-transition: all 0.25s ease-in;-o-transition: all 0.25s ease-in;
                    }

                    &.collapsed:after{
                        content: "\e96d"; 
                        transform: rotate(0);-webkit-transform: rotate(0);-moz-transform: rotate(0);-ms-transform: rotate(0);-o-transform: rotate(0);
                        transition: all 0.25s ease-in;-webkit-transition: all 0.25s ease-in;-moz-transition: all 0.25s ease-in;-ms-transition: all 0.25s ease-in;-o-transition: all 0.25s ease-in;
                    }
               }
               &item-content{
                   border-bottom: 1px solid rgba(112, 112, 112,0.1);
                   padding-bottom:var(--size-6);
               }
               &label-mobile p{
                   color:var(--gray4);
                   font-weight:var(--font-light);
               }
            }
        }
    }
}
