#{$ap}- {
    &rtng{
        &__{
            &container{
                @include respond-above(lg){
                    padding-right:0 !important;
                }
            }
            &item{
                margin:var(--size-12) 0;

                @include respond-below(md){
                    margin:0;
                }
            }
            &wrapper{
                //padding-top:var(--size-14);
            }
            &title{
                font-weight:var(--font-semibold);
                color:var(--gray5);
            }
            &total{
                color:var(--app-indigo-1);
                font-weight:var(--font-bold);
            }
            &fill{
                color:#FFC516;
            }
            &unfill{
                color:#D5D5D5;
            }
            &course{
                color:var(--gray5);
                font-weight:var(--font-normal);
            }
            &indicators{
                padding-left:var(--size-6);
            }
            &progress{
                width:200px;
                height:14px;
                border-radius:10px;
                margin-bottom:var(--size-3);

                @include respond-below(lg){
                    width:110px;
                }
                @include respond-below(md){
                    width:200px;
                }
            }
            &progress-bar{
                background-color:var(--yellow);
            }
            &percent{
                color:var(--gray5);
                font-weight:var(--font-normal);
            }
            &review{
                font-size:var(--text-md);
                color:var(--app-indigo-1);
                font-weight:var(--font-semibold);   
                letter-spacing: 2.8px;
                cursor: pointer;
               
                &:hover{
                    color:var(--gray6);
                }

                &-{
                    &popup{
                        margin:var(--size-12) var(--size-20) var(--size-8) 0;

                        @include respond-below(sm){
                            margin:var(--size-4) 0;
                        }
                    }
                    &modal{
                        top:15%;
                    }
                    &content{
                        width:400px !important;
                        height:auto;
                        box-shadow: 0px 6px 12px #00000029;
                        border-radius: 10px;

                        @include respond-below(sm){
                            width:100% !important;
                        }
                    }
                    &header{
                        border:none !important;
                        padding: var(--size-6) var(--size-8);
                    }
                    &body{
                        padding: 0 var(--size-8) var(--size-8);

                        @include respond-below(sm){
                            padding:0 var(--size-6) var(--size-6);
                        }
                    }
                    &title{
                        font-size: var(--text-md);
                        color: var(--gray3);
                        font-weight: var(--font-medium);
                    }
                    &textarea{
                        padding:var(--size-2) !important;
                        font-size: var(--text-sm) !important;
                        border-radius: 8px;
                        background: #FFFFFF 0% 0% no-repeat padding-box !important;
                        border: 1px solid var(--gray15);
                    }
                    &stars{
                        border-bottom: 1px solid var(--gray15);
                    }
                    &edit{
                        color:var(--gray3);
                        font-weight: var(--font-semibold);

                        &:hover{
                            color:var(--app-indigo-1);
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:767px){
    #{$ap}- {
        &rtng{
            &__{
                
                &wrapper{
                    padding-top:var(--size-4);
                    padding-bottom:var(--size-4);
                }
                &indicators{
                    padding-top:var(--size-6);
                    padding-bottom:var(--size-6);
                    padding-left:0;
                    padding-right:0;
                }
            }
        }
    }   
}