#{$ap}- {
    &lcreviews{
        &__{
            &item{
                margin-bottom:var(--size-10);

                @include respond-below(md){
                    margin:var(--size-8) 0;
                }
            }
            &prfle{
                width:75%;

                &-{
                    &img{
                        img{
                            width:65px;
                            height:65px;
                            object-fit: cover;
                            background-color: var(--gray);

                            @include respond-below(sm){
                                width:55px;
                                height:55px;
                            }
                        }
                    }
                }
            }
            &timestamp{
                font-weight:var(--font-normal);
                color:var(--gray7);
            }
            &uname{
                font-weight:var(--font-bold);
                color:var(--gray7);
            }
            &content{
                padding-left:var(--size-8);

                @include respond-below(sm){
                    padding-left:0;
                    margin-top:var(--size-3);
                }
            }
            &comment{
                color:var(--gray5); 
                font-weight:var(--font-normal);
            }
        }
    }
}
