#{$ap}- {
    &vcourse {
        --playerW: 528px;
        --playerH: 308px;

        @include respond-below(sm){
            --playerW: 100%;
            --playerH: 296px;
        }

        &__ {
            &inner{
                @include respond-above(sm){
                    padding-bottom:var(--size-20);
                }
            }
            &title {
                font-size: var(--text-5xl);
                font-weight: var(--font-bold);
                font-family: var(--head-font);
                color: var(--gray5);

                @include respond-below(md){
                    font-size:var(--text-3xl);
                }
            }
            &tag{
                color:var(--app-indigo-1);
                letter-spacing: 1.4px;
                font-weight:var(--font-semibold);
            }

            &intro {
                &- {
                    &section{
                        @include respond-below(sm){
                            padding:calc(var(--size-base) + 2px) 0 0 !important;
                        }
                    }
                    &fluid{
                        @include respond-below(sm){
                            padding:0 !important;
                        }
                    }
                    &left {
                        width: 100%;
                        
                        @include respond-above(md) {
                            //width: calc(100% - 550px);
                        }

                        //-For Course Main Page
                        &--{
                            &course{
                                width:100%;

                                @include respond-above(md){
                                    width:50%;
                                }
                            }
                        }
                    }
                    &right {
                        width: 100%;

                        @include respond-above(md) {
                            //width: 550px;
                            //padding-left: 65px;
                        }

                        //-For Course Main Page
                        &--{
                            &course{
                                width:100%;

                                @include respond-above(md){
                                    width:50%;
                                }
                                @include respond-below(lg){
                                    padding-top:var(--size-10);
                                }
                            }
                        }
                    }
                    &top{
                        width: 100%;
                        @include respond-above(lg) {
                            width: calc(100% - 550px);
                        }
                    }
                    &bottom{
                        width: 100%;
                        @include respond-above(lg) {
                            width: 550px;
                        }
                    }
                }
            }
            &excerpt {
                color: var(--gray5);
            }
            &creator {

                @include respond-below(sm){
                    border-top:1px solid var(--gray2);
                    border-bottom:1px solid var(--gray2);
                    padding:var(--size-3) 0;
                    margin:var(--size-6) 0;
                }
                &-{
                    &avator {
                        width: var(--size-14);
                        height: var(--size-14);
                        border-radius: var(--rounded-full);
                        overflow: hidden;
                        background-color: var(--gray);

                        @include respond-below(sm){
                            width: var(--size-10);
                            height: var(--size-10);
                        }

                        img{
                            width: var(--size-14);
                            height: var(--size-14);
                            object-fit: cover;
                            background-color: var(--gray);

                            @include respond-below(sm){
                                width: var(--size-10);
                                height: var(--size-10);
                            }
                        }
                    }
                    &group{
                        &:hover{
                            &> .la-vcourse__creator-group--avator > .la-vcourse__creator-group--img2{
                                transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;
                                left:20px;
                            }
                            &> .la-vcourse__creator-group--avator > .la-vcourse__creator-group--img3{
                                transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;
                                left:36px;
                            }
                            &> .la-vcourse__creator-group--name{
                                transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;
                                margin-left:var(--size-10);
                            }
                        }
                    
                        &--{
                            &avator{
                                width: var(--size-14);
                                height: var(--size-14);
                                border-radius: var(--rounded-full);
                                //overflow: hidden;
                                background-color: var(--gray);

                                img{
                                    width: var(--size-14);
                                    height: var(--size-14);
                                    object-fit: cover;
                                    object-position: top;
                                    background-color: var(--gray);
                                    border-radius: var(--rounded-full);
                                }
                                
                            }
                            &img1{
                                left:0;
                                z-index:3;
                                transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;
                            }
                            &img2{
                                left:8px;
                                z-index:2;
                                transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;
                            }
                            &img3{
                                left:16px;
                                z-index:1;
                                transition:all 0.35s ease-in-out;-webkit-transition:all 0.35s ease-in-out;-moz-transition:all 0.35s ease-in-out;
                            }
                            &name {
                                margin-left: var(--size-7);
                                font-size: var(--text-md);
                                color: var(--gray5);
                            }
                        }
                    }
                    &name {
                        //margin-left: var(--size-4);
                        font-size: var(--text-md);
                        color: var(--app-indigo-1);
                        font-weight: var(--font-semibold);

                        &:hover{
                            color:var(--gray3);
                        }

                        @include respond-below(sm){
                            font-size:var(--text-sm);
                            font-weight: var(--font-bold);
                        }
                    }
                    &link{
                        &--{
                            &icon{
                                bottom:-25px;
                                right:-15px;
                            }
                        }
                    }
                }
            }
            &course{
                &-{
                    &cards{
                        @include respond-above(sm){
                            margin-top:-200px;
                        }
                    }
                }
            }

            &buy {
                &- {
                    &btn {
                        font-size: var(--text-sm);
                        //color: var(--gray4);
                        font-weight: var(--font-medium);
                        
                        @include respond-below(sm){
                           margin-bottom:var(--size-3);
                        }
                    }
                    &course{
                        @include respond-below(sm){
                            width:100%;
                        }

                        &--{
                            &mobile{
                                position:fixed;
                                bottom:0;
                                left:0;
                                z-index:100;
                                width:100%;
                                background: #191B2C;
                                backdrop-filter: blur(46px);
                                -webkit-backdrop-filter: blur(46px);
                                padding:var(--size-4) var(--size-3);

                                &-btn{
                                    padding:var(--size-3) var(--size-5) !important;
                                    font-size: var(--text-xs);
                                    letter-spacing: 1.4px;
                                    font-weight: var(--font-medium) !important;
                                }
                            }
                        }
                    }
                    &progress{
                        width:50%;
                        
                        @include respond-above(md){
                            width:50%;
                            padding-right:var(--size-10);
                        }

                        @include respond-below(sm){
                            width:100%;
                        }
                    }
                    
                }
            }
            &info {
                &-{
                    &mentor{
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        box-shadow: 0px 12px 30px #00000014;
                        border-radius: 10px;
                        padding:var(--size-6) var(--size-6);  

                        @include respond-above(lg){
                            padding:var(--size-8) var(--size-8);  
                        }
                    }

                    &item {
                        & #{$ap}-- {
                            &count {
                                font-size: calc(var(--text-3xl));
                                color: var(--app-indigo-1);
                                font-weight: var(--font-normal);
                                line-height: calc(var(--text-3xl) - 8px);

                                @include respond-below(sm){
                                    font-size:var(--text-3xl);
                                }
                            }
                            &label {
                                font-size: calc(var(--text-xs));
                            }
                            &label2{
                                font-weight: var(--font-light);
                                color:var(--white);
                                font-size: var(--text-xs);
                            }
                        }
                    }
                    &icon{
                        color:var(--app-indigo-1);
                    }
                }
            }

            &video {
                &-{
                    &wrap{
                        
                    }
                    &progress {
                        bottom: 0;
                    }
                    &time {
                        color: #ffffff;
                        font-size: var(--text-xs);
                        font-weight: var(--font-medium);
                    }
                    &track {
                        width: 100%;
                        height: 4px;
                        background-color: #EBEBEB;
                    }
                    &bar {
                        // width: 50%;
                        height: 100%;
                        position: absolute;
                        background-color: var(--green);
                    }
                }
            }

            &learners {
                
            }

            &level {

            }

            &duration, &updatedon, &languages {
                font-size: var(--text-sm);
                // font-weight: var(--font-normal);
                & .font-normal {
                    font-weight: var(--font-medium);
                }
            }
            &language{
                &-{
                    &switcher{
                        position:relative;
                        background-color: var(--gray);
                        display: inline-block;
                        border-radius: 50px;      
                        height:100%;
                        //overflow-x: auto;
                        
                        &:hover{
                           // overflow-x: scroll;

                            &::-webkit-scrollbar{
                                visibility: visible;
                                height:6px;
                            }
                            &::-webkit-scrollbar-track{
                                padding:0;
                                width:6px;
                                height:6px;
                                border-radius: 10px;
                            }
                            &::-webkit-scrollbar-thumb{
                                background:var(--gray9);
                                border-radius: 10px;
                                padding:0;
                            }
                        }
                        &::-webkit-scrollbar{
                            width:6px;
                            height:6px;
                            visibility: hidden;
                            background-color: transparent;
                        }
                    }
                    &switch{
                        display:none;
                        visibility: hidden;
                    }
                    &label{
                        color: var(--gray6);
                        display: inline-block;
                        cursor: pointer;
                        font-weight: var(--font-normal);
                        font-size: var(--text-sm);
                        padding: calc(var(--size-2) - 2px) var(--size-6);
                        margin:0;
                        transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;
                        opacity: 1;
                        user-select: none;
                        -webkit-user-select: none;
                    }
                }
            }

            &video {
                width: 100%;
                padding-top: 56.2%;
                // height: var(--playerH);
                // background: var(--gray);

                @include respond-above(lg) {
                    height: auto;
                    // padding-top: 56.3%;
                }

                & .vjs-big-play-button {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }

                & .language-switcher {
                    position: absolute;
                    top: 5%;
                    right: 2%;
                    width: auto;
                    height: auto;

                    & .vjs-multilngual_list{
                        position: absolute;
                        right: 0;
                        width: 150px;
                        background: #58595E;
                        box-shadow: 0px 6px 12px #00000029;
                        border-radius: 10px;
                        opacity: 0.98;
                        // padding:var(--size-2) var(--size-3);
                    }

                    & .icon-change-language{
                        font-size: 5em;

                        @include respond-below(sm){
                            font-size: 3em;
                        }
                    }

                    & .vjs-menu-content{
                        border-radius: 10px !important;
                    }

                    & .vjs-multilngual_item {
                        padding: var(--size-3) var(--size-3);
                        text-transform: capitalize;
                        font-size: var(--text-xs);

                        &:not(:last-child){
                            border-bottom: 1px solid rgba(#9E9E9E, 0.25);
                        }
                        &:hover:not(.vjs-selected){
                            background: #434347;
                            opacity: 1;
                        }
                        &.vjs-selected{
                            background:#333;
                            color:#fff;
                            text-align: left;
                        }

                        &.vjs-selected:before{
                            font-family: "icomoon" !important;
                            content: "\E938";
                            margin-right: 5px;
                        }
                    }
                    & .vjs-multilngual_default_item {
                        padding: var(--size-3) var(--size-3);
                        text-align: left;
                        text-transform: capitalize;
                        font-size: 1.2em;
                        border-bottom: 1px solid rgba(#fff, 0.25);

                        &:hover{
                            background: none;
                        }
                    }
                    &:active > .language-switcher{
                        visibility: visible !important;
                    }
                    
                }
            }

            &curriculam {
                // max-height: 360px;
                border-bottom: 1px dashed var(--gray2);
                box-shadow: 0 8px 6px -6px  #00000014;
                overflow: auto;
                //padding:var(--size-5) 0 var(--size-5) var(--size-6);

                @include respond-below(md){
                    //padding-left:var(--size-4);
                    margin-top:var(--size-10);
                }
                
                &::-webkit-scrollbar {
                    width: 5px;
                }
                 
                &::-webkit-scrollbar-track {
                    background-color: var(--gray2);
                }
                 
                &::-webkit-scrollbar-thumb {
                    background: var(--gray4);
                }
            }
            &classes, &videos {
                &- {
                    &info {
                        & #{$ap} {
                            &--{
                                &count {
                                    //color:var(--green);
                                    color:var(--gray3);
                                    font-weight: var(--font-semibold);
                                }
                                &countlearners{
                                    color:var(--gray4);
                                    font-weight: var(--font-medium);
                                }
                                &label {
                                    color: var(--gray4);
                                }

                                &count2{
                                    color:var(--white);
                                }
                                &label2{
                                    color:var(--white);
                                    font-weight: var(--font-light);
                                    font-size: var(--text-sm);
                                }
                            }
                        }
                    }
                }
            }

            &btn{
                cursor: pointer;
                &-{
                    &collapse{
                        position: relative;
                        font-family: var(--head-font);
                
                        &:after{
                            font-family: 'icomoon', 'Poppins';
                            position:absolute;
                            content:'Read Less \e977';
                            top:0;
                            left:0;
                            width:130px;
                            color:var(--app-indigo-1);
                            text-transform: uppercase;
                            font-size: var(--text-sm);
                            font-weight: var(--font-semibold);
                            letter-spacing: 2px;
                            word-spacing: -4px;
                            transition:all 0.25s linear;-webkit-transition:all 0.25s linear;-moz-transition:all 0.25s linear;-ms-transition:all 0.25s linear;-o-transition:all 0.25s linear;
                        }
                        &.collapsed:after{
                            content:'Read More \e978';
                            width:130px;
                            top:0;
                            left:0;
                            transition:all 0.25s linear;-webkit-transition:all 0.25s linear;-moz-transition:all 0.25s linear;-ms-transition:all 0.25s linear;-o-transition:all 0.25s linear;
                            //transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg);-ms-transform:rotate(-180deg);-o-transform:rotate(-180deg);
                        }
                    }
                }
            }

            &class {
                --classThumbW: 32px;
                --classThumbH: 32px;
                position: relative;

                &:not(:last-child) {
                    //padding-bottom: var(--size-10);
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 20px;
                    left: 0;
                    //width: 2px;
                    height: 100%;
                    //background: var(--gray7);
                    z-index: 1;
                }
                &:first-child:before{
                    top:20px;
                }
                &:last-child:before{
                    // top:-55px;
                    height: calc(100% - 74px);
                }
                
                &-{
                    &col{
                        
                        @include respond-below(sm){
                            position:fixed;      
                            height:200px;
                            z-index: 100;
                        }   
                        @include respond-above(sm){
                            transform: none !important;
                        }                     
                    }
                }
        
                &es {
                    &- {
                        &info {
                            position: relative;
                            &:before {
                                content: "";
                                width: 1px;
                                height:  100%;
                                background-color: var(--gray4);
                                position: absolute;
                                right: 0;
                            } 
                        }
                    }
                }

                &- {
                    &header {
                        position: relative;
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        padding:var(--size-3) 0;

                        @include respond-below(sm){
                            background: #F5F4F0 0% 0% no-repeat padding-box;
                            padding:var(--size-3) calc(var(--size-base) + 2px);
                        }

                        &:after{
                            font-family: "icomoon";
                            content:"\e96d";
                            position:absolute;
                            right:12px;
                            top:18px;
                            font-size: var(--text-lg);
                            transition:all 0.25s ease-in-out;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;
                            transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg)  
                        }
                        
                        &.collapsed:after {
                            transition:all 0.25s ease-in-out;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;
                            transform: rotate(0deg);-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);                            
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            top: -12px;
                            bottom: 0;
                            margin: auto 0;
                            left: calc((var(--size-7) - 1px) * -1);
                            width: var(--size-4);
                            height: var(--size-4);
                            //border: 2px solid var(--gray7);
                            //background: var(--white);
                            //border-radius: var(--rounded-full);
                            z-index: 2;
                        }
                    }
                    

                    &thumb {
                        width: 40px;
                        height: 40px;
                        overflow: hidden;
                        margin-left:-38px;
                        z-index:2;

                        img{
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            object-position: top;
                            background-color:var(--gray8);
                        }
                    }
                    &title{
                        color:var(--gray3);
                        //letter-spacing: 1px;
                        font-weight: var(--font-semibold);

                        &--{
                            &chapter{
                                color:var(--gray7);
                            }
                        }
                    }

                    &videoscount {
                        color: var(--gray3);
                        border-left:1px solid var(--gray9);
                        font-weight: var(--font-semibold);
                    }

                    &row {
                        &.full-view {
                            & #{$ap}-vcourse {

                                &__ {
                                    &class-col {
                                        width: 100% !important;
                                        max-width: 100% !important;
                                        flex: 0 0 100% !important;
                                        transition: all 0.4s ease;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;
                                    }
                                    &video {
                                        height: calc(var(--playerH) * 2);

                                        @include respond-below(md){
                                            height:var(--playerH);
                                        }
                                    }
                                    &curriculam {
                                        max-height: inherit;
                                        // overflow-y: hidden;
                                        overflow-x: unset;
                                        padding-top: 60px;
                                        //padding-left: 20px !important;

                                        @include respond-below(md){
                                            padding-top:0;
                                        }
                                    }

                                    &lesson {
                                        &- {
                                            &content {
                                                width: 35%;
                                                padding-right: 30px;

                                                @include respond-below(md){
                                                    width:100%;
                                                    padding-right:var(--size-2);
                                                }
                                            }
                                            
                                            &description {
                                                width: 65%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &col {
                        width: 100%;

                        @include respond-above(md) {
                            width: 50%;
                        }
                        
                        &-- {
                            &video {
                                @include respond-above(lg) {
                                    width: calc(100% - 500px);
                                }
                                @media (min-width: 1700px) {
                                    width: calc(100% - 600px);
                                }
                            }
                            &video-list {
                                @include respond-above(lg) {
                                    width: 500px;
                                }
                                @media (min-width: 1700px) {
                                    width: 600px;
                                }
                            }
                        }
                    }
                }
            }

            &sclass {
                &- {
                    &heading, &data {
                        font-size: var(--text-xs);
                        padding: 10px 10px;
                    }
                    &heading {
                        color: var(--gray4);
                        font-weight: var(--font-normal);
                    }
                    &data {
                        &:nth-child(1) {
                            width: 8%;
                        }
                        &:nth-child(2) {
                            width: 16%;
                        }
                        &:nth-child(3) {
                            width: 23%;
                        }
                        &:nth-child(4) {
                            width: 23%;
                        }
                        &:nth-child(5) {
                            width: 10%;
                        }

                        &--{
                            &thumbnail img{
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }
                }
            }

            &lesson {
                --videoW: 148px;
                --videoH: 84px;
                
                & {
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    display: flex;
                    padding-top: var(--size-3);
                    padding-bottom: var(--size-3);
                    padding-left: var(--size-12);
                    padding-right: var(--size-4);
                    transition: all 0.2s ease;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;
                    cursor: pointer;

                    @include respond-below(sm){
                        padding-right:var(--size-base);
                        padding-top:var(--size-4);
                        padding-bottom:var(--size-4);
                        padding-left: var(--size-10);
                    }

                    &.active{
                        background-color:var(--app-indigo-1);
                        color:var(--white);

                        & #{$ap}- {
                            &vcourse{
                                &__{
                                    &lesson{
                                        &-{
                                            &title, &creator{
                                                color:var(--white);
                                            }
                                        }
                                    }
                                    &access{
                                        &-{
                                            &icon{
                                                &--{
                                                    &white, &danger{
                                                        color:var(--white);
                                                    }
                                                }
                                            }
                                        }
                                        &--{
                                            &free, &locked, &danger{
                                                background-color: transparent;
                                                color:var(--white);
                                                border:1px solid var(--white);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover {
                        background: var(--gray2);

                        & #{$ap}- {
                            &vcourse {
                                &__ {
                                    &lesson{
                                        &-{
                                            &title{
                                                color:var(--black);
                                            }
                                            &creator{
                                                color: rgba($gray6, 0.5);
                                            }
                                        }
                                    }
                                    &access {
                                        // &:before {
                                        //     opacity: 1;
                                        //     transform: scale(1.6) rotate(0);-webkit-transform: scale(1.6) rotate(0);-moz-transform: scale(1.6) rotate(0);
                                        // }

                                        &-{
                                            &icon{
                                                &--{
                                                    &white, &danger{
                                                        color:var(--black);
                                                    }
                                                }
                                            }
                                        }
                                        &--{
                                            &free{
                                                background-color: transparent;
                                                color:var(--black);
                                                border:1px solid var(--black);
                                            }
                                            &locked{
                                                background-color: transparent;
                                                color:var(--black);
                                                border:1px solid var(--black);
                                            }
                                            &danger{
                                                background-color: transparent;
                                                color:var(--black);
                                                border:1px solid var(--black);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &- {
                        &left {
                            width: 120px;
                            height:60px;
                            border-radius: 6px;
                            overflow: hidden;

                            @include respond-below(sm){
                                margin:auto 0;
                            }
                        }

                        &right {
                            width: calc(100% - 50px);
                            padding-left: 20px;

                            @include respond-below(sm){
                                padding-left:10px;
                            }
                        }
                        
                        &description {
                            display: none;
                            width: 65%;
                        }

                        &thumbnail {
                            &:before {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(101, 101, 101, 0.34);
                            }
                            
                        }

                        &playbtn {
                            width: 22px;
                            height: 22px;
                            background-color: rgba(#000, 0.55);
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: auto;
                            border-radius: 100%;

                            & span {
                                display: inline-block;
                                position: relative;
                                z-index: 3;
                                width: 0;
                                height: 0;
                                margin-left:2px;
                                border-left: 8px solid #C5C5C5;
                                border-top: 5px solid transparent;
                                border-bottom: 5px solid transparent;
                            }
                        }

                        &videothumb {
                            position: relative;
                            width: var(--videoW);
                            height: var(--videoH);
                            background: rgba($gray10, 0.34);
                            overflow: hidden;
                        }

                        &title {
                            color: var(--gray5);
                            font-size: var(--text-sm);
                        }

                        &creator {
                            font-size: var(--text-xs);
                            color: rgba($gray6, 0.5);
                        }

                        &learnt {
                            color: var(--green);
                            font-size: var(--text-sm);
                        }

                        &status {
                            
                        }

                    }
                }
            }

            &access{
                &-{
                    &wrap {
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        top: 0;
                        bottom: 0;
                        left: 12px;
                        margin: auto;
                        border-radius: 100px;
                        z-index: 1;

                        @include respond-below(sm){
                            left:6px;
                        }
                    }
                    &icon {
                        position: absolute;
                        top:4.5px;
                        left:4px;
                        // padding-left: 2px;

                        @include respond-below(sm){
                            top:5px;
                            left:4.5px;
                        }

                        &-- {
                            &white {
                                color: var(--gray14);
                                font-size: var(--text-xxs);
                            }   
                            &danger {
                                color: var(--gray14);
                                left:3px;
                                top:3px;
                                font-size: var(--text-xs);
                            }
                            &green {
                                color: var(--gray14);
                                font-size: var(--text-xs);
                            }
                        }
                    }
                }

                width: 100%;
                height: 100%;
                border-radius: 100px;

                // &:before {
                //     content: "";
                //     position: absolute;
                //     left: -0.35px;
                //     right: 0;
                //     top:-0.4px;
                //     width: 100%;
                //     height: 100%;
                //     background: #ffffff;
                //     border-radius: 100%;
                //     border: 1px dotted #000000;
                //     opacity: 0;
                //     transform: scale(1) rotate(10deg);-webkit-transform: scale(1) rotate(10deg);-moz-transform: scale(1) rotate(10deg);
                //     transition: all 0.1s ease;-webkit-transition: all 0.1s ease;-moz-transition: all 0.1s ease;
                //     z-index: -1;
                // }

                &-- {
                    &free {
                        border: 1px solid var(--gray14);
                        background-color: transparent;
                        color:var(--gray14);
                    }
                    &locked {
                        border: 1px solid var(--gray14);
                        background-color: transparent;

                        &:before {
                            display: none;
                        }
                    }
                    &available {
                        border: 1px solid var(--gray14);
                        background-color: transparent;

                        & #{$ap}-vcourse__access-icon {
                            font-size: calc(var(--text-xs) - 1px);
                        }
                    }
                }
            }

            &nav{
                @include respond-below(sm){
                    //position:fixed !important;
                    //top:285px !important;
                    background-color: var(--white);
                    z-index:60;
                }
                @include respond-above(sm){
                    transform: none !important;
                }
                &-{
                    &tabs{
                        background-color: var(--white);

                        @include respond-below(sm){
                            margin: 0;
                        }
                    }
                    &item{
                        @include respond-above(sm){
                            margin-right: var(--size-4) !important;
                        }
                        @include respond-below(sm){
                            margin:0 auto !important;
                        }
                    }
                    &link{
                        font-size: var(--text-lg) !important;
                        padding:var(--size-2) var(--size-8);

                        @include respond-below(sm){
                            padding:var(--size-3) var(--size-7);
                            font-weight: var(--font-semibold) !important;
                            margin:0 auto !important;
                        }

                        &:before{
                            display: none;
                        }

                        &.active{
                            border-bottom:3px solid var(--app-indigo-1);
                            color:var(--app-indigo-1) !important;
                        }

                        &:first-child{
                            margin:0 !important;
                        }
                    }
                    &content{
                        padding:var(--size-6) var(--size-4);

                        @include respond-above(sm){
                            padding:var(--size-10) 0;
                        }
                    }                    
                }
            }

            &purchase {
                @include respond-below(sm){
                    // padding:var(--size-14) 0 !important;
                }
                &- {
                    &inwrap {
                        //padding-right: 0 !important;
                    }
                   /* &left {
                        border-bottom: 1px dashed var(--gray4);
                        padding-top: var(--size-12);
                        padding-bottom:var(--size-10);

                        @include respond-above(sm){
                            border-right: 1px dashed var(--gray4);
                            border-bottom:0;
                        }
                    }*/
                    &title {
                        // font-size: 5.4vh;
                        // font-weight: var(--font-black);
                        // font-family: var(--head-font);
                        z-index:3;
                    }
                    /*&label {
                        font-family: var(--head-font);
                        font-weight: 600;
                    }
                    &btn1{
                        a{
                            @include respond-below(sm){
                                padding:var(--size-3) var(--size-4);
                            }
                        }
                    }
                    &btn2{
                        @include respond-below(md){
                            margin-top:var(--size-3);
                        }
                    }
                    &items{
                        @include respond-above(lg){
                            padding-left:var(--size-6);
                        }
                    }
                    &right{
                        background-color: #F1F0EC;
                        padding-bottom:var(--size-12);

                        
                        @include respond-below(sm){
                            padding-top:var(--size-10);
                        }

                    }
                      &prize {
                        font-size: var(--text-2xl);

                        @include respond-below(sm){
                            font-size:var(--text-xl);
                        }
                        &-- {
                            &amount {
                                color: var(--green);
                            }
                        }
                    }
                    &trial {
                        &-- {
                            &lnk {
                                font-size: var(--text-sm);
                                font-weight: var(--font-medium);

                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }*/
                    &content{
                        //background:var(--white);
                        //border-radius:10px;
                        //padding:var(--size-8) var(--size-6);
                        //box-shadow: 0px 0px 30px #d4d4d47a;
                        background: #FBFBF9 0% 0% no-repeat padding-box;
                        border-radius: 10px;
                        background-size: cover !important;
                        
                        @include respond-below(sm){
                            background-position:30% !important;
                            border-radius: 0;
                            padding:var(--size-10) var(--size-7) !important;
                        }
                    }
                  
                }
            }
        }
    }

    &vlesson {
        &__ {
            &title {
                font-size: var(--text-xl);
                color: var(--gray5);

                @include respond-below(sm){
                    font-size:var(--text-lg);
                    padding:0 var(--size-4);
                }
            }

            &creator {
                @include respond-below(sm){
                    padding:0 var(--size-4);
                }
            }
        }
    }
}
.video-js .vjs-tech{
    object-fit: contain;
}
//- Fit the whidth of the course image
.vjs-poster{
    background-size: 100% !important;
    background-color:var(--gray) !important;
}


//- Custom Radio buttons for Language Switcher
input[type=radio]:checked + label.la-vcourse__language-label{
    color: var(--white);
    background: var(--black);
    border-radius:50px;
    transition:all 0.25s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;
    animation:switcher 0.3s ease-in-out 1;-webkit-animation:switcher 0.3s ease-in-out 1;-moz-animation:switcher 0.3s ease-in-out 1;
                        
    @keyframes switcher{
        from{opacity:0;transform:translateX(-5px);-webkit-transform:translateX(-5px);-moz-transform:translateX(-5px);}
        to{opacity: 1;transform:translateX(0px);-webkit-transform:translateX(0px);-moz-transform:translateX(0px);}
    }
    @-webkit-keyframes switcher{
        from{opacity:0;transform:translateX(-5px);-webkit-transform:translateX(-5px);-moz-transform:translateX(-5px);}
        to{opacity: 1;transform:translateX(0px);-webkit-transform:translateX(0px);-moz-transform:translateX(0px);}
    }
}

.zsiq_custommain.siq_bR{
    z-index: 1000;
}