#{$ap}- {
    &btn {
        font-weight: var(--font-bold);
        font-size: var(--text-xs);
        text-transform: uppercase;
        letter-spacing: 3.2px;
        color: #222222;
        border: 2px solid var(--green);
        padding: var(--size-4) var(--size-9);
        border-radius: var(--size-2);
        background: none;

        @include respond-above(md) {
            font-size: var(--text-sm);
        }

        &.active, &:focus {
            background-color: var(--green) !important;
            border-color: var(--green) !important;

            &:hover{
                background:transparent !important;
                color:var(--black)  !important;
            }
        }
        &.bg-transparent{
            background-color:transparent !important;
            padding: 17.5px var(--size-9);
        }
        &.text-white{
            &:hover{
                color:var(--white) !important;
            }
        }
        

        &__ {
            &plain, &arrow {
                // font-size: var(--text-xs);
                font-weight: var(--font-bold);
                cursor: pointer;

                &.text--sm {
                    font-size: var(--text-sm);
                }
                &.text--md {
                    font-size: var(--text-md);
                }
                &.font-weight--thin {
                    font-weight: var(--font-thin);
                }
                &.font-weight--light {
                    font-weight: var(--font-light);
                }
                &.font-weight--normal {
                    font-weight: var(--font-normal);
                }
                &.font-weight--medium {
                    font-weight: var(--font-medium);
                }
                &.font-weight--semibold,
                &.font-weight--semibold a {
                    font-weight: var(--font-semibold);
                }
                &.font-weight--bold {
                    font-weight: var(--font-bold);
                }
                &.font-weight--extrabold {
                    font-weight: var(--font-extrabold);
                }
                &.font-weight--black {
                    font-weight: var(--font-black);
                }

                &.text--burple a, &.text--burple submit, &.text--burple {
                    color: var(--app-indigo-1);
                }
                &.text--danger a {
                    color: var(--danger);
                }
                &.text--green a, &.text--green {
                    color:var(--green);
                    transition: all 0.1s ease;

                    &:hover {
                        color:var(--black);
                    }
                }
                
                &.text-spacing {
                    letter-spacing: 3.2px;
                }
            }
            
            &plain {
                border: none !important;
                background: none !important;
                transition: transform 0.1s ease;
                &:hover {
                    // transform: scale(1.2);
                }
            }

            &arrow {
                position: relative;
                display: inline-block;
                font-size: var(--text-xs);

                @include respond-above(md) {
                    font-size: var(--text-sm);
                }

                &:hover {
                    & #{$ap}- {
                        &icon {
                            transform: translateX(10px);

                            &.arrow-down {
                                transform: rotate(90deg) translateX(10px) !important;
                            }
                        }
                    }
                }
                
                &- {
                    &icon {
                        position: absolute;
                        right: -22px;
                        bottom: -30px;
                        transition: all 0.2s ease;
                        
                        &.arrow-down {
                            transform: rotate(90deg);
                            right: -40px;
                        }
                    }
                }
                    
            }

            &add {
                width: 100%;
                height: 100%;
                border: 2px dashed #7400D7;
                opacity: 0.2;
                border-radius: 10px;
                font-size: 156px;
                font-weight: var(--font-bold);
                color: #7400D7;
            }

            &app{
                // width:100%;
                // height: 100%;
                border: 2px solid #7400D7;
                border-radius: 10px;
                padding: var(--size-4) var(--size-9);
                text-transform:uppercase;
                font-size: 14px;
                font-weight: var(--font-bold);
                color: #000000;
                letter-spacing: 3.2px;
                position:relative;
                z-index:1;
                transition: all 0.1s ease;


                &:hover, &:focus {
                    background:var(--app-indigo-1);
                    color:#ffffff;
                    border-radius: 10px;
                }

                @media(max-width:767px){
                    width:100% !important;
                }
            }
            &secondary{
                background:var(--white);
                color:#000;
                &:hover{
                    background:var(--app-indigo-1);
                    color:#ffffff;
                    border-radius: 10px;
                }
            }

            &icon {
                &-- {
                    &grey {
                        color: var(--gray4);
                    }
                }
            }
            &text {
                &-- {
                    &purple {
                        color: var(--app-indigo-1);
                    }
                }
            }
            &alert{
                &-{
                    &success{
                        position:fixed;
                        top:80px;
                        background-color: #EBD3FF !important;
                        color:#56188C;
                        border:1px solid rgba(#56188C, 0.15);
                        box-shadow:0 3px 6px #c0c0c0;
                        animation: fadeAlert 0.5s ease 1;
                        transition: all 0.1s ease;
                        z-index:101;
                        overflow:hidden;
                        display:inline-block;

                        @include respond-below(sm){
                            left:0;
                        }
                    }
                    &danger{
                        position:fixed;
                        top:80px;
                        background-color:#FFD3D9 !important;
                        color:#C52A2E;
                        border:1px solid rgba(#C52A2E, 0.15);
                        box-shadow:0 3px 6px #c0c0c0;
                        animation: fadeAlert 0.5s ease 1;
                        transition: all 0.1s ease;
                        z-index:101;
                        overflow:hidden;

                        @include respond-below(sm){
                            left:0;
                        }
                    }
                    @keyframes fadeAlert{
                        from{transform:translateY(-30px); opacity:0;}
                        to{transform:translateY(0px);opacity:1}
                    }
                    &msg{
                        font-family: var(--font-body);
                        font-weight: var(--font-medium);
                        opacity:1;
                    }
                    &close{
                        margin:2px 0 !important;
                    }
                }
            }
        }
    }
}