@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icons/icomoon.eot?tlgwid');
  src: url('../fonts/icons/icomoon.eot?tlgwid#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?tlgwid') format('truetype'),
    url('../fonts/icons/icomoon.woff?tlgwid') format('woff'),
    url('../fonts/icons/icomoon.svg?tlgwid#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-excel:before {
  content: "\e922";
}

.icon-revenue:before {
  content: "\e920";
}

.icon-coupon:before {
  content: "\e921";
}

.icon-browse-courses .path1:before {
  content: "\e901";
  color: rgb(65, 65, 65);
}

.icon-browse-courses .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-browse-courses .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(65, 65, 65);
}

.icon-lock:before {
  content: "\e900";
}

.icon-play:before {
  content: "\e902";
}

.icon-hide-Password:before {
  content: "\e903";
}

.icon-menu:before {
  content: "\e904";
}

.icon-profile:before {
  content: "\e906";
}

.icon-show-password:before {
  content: "\e907";
}

.icon-wallet:before {
  content: "\e908";
}

.icon-learning-plans:before {
  content: "\e90a";
}

.icon-about:before {
  content: "\e90b";
}

.icon-download:before {
  content: "\e90c";
}

.icon-arrow:before {
  content: "\e90d";
}

.icon-search:before {
  content: "\e90e";
}

.icon-file-export:before {
  content: "\e90f";
}

.icon-users:before {
  content: "\e910";
}

.icon-edit-profile-learner-filled:before {
  content: "\e911";
}

.icon-filter:before {
  content: "\e912";
}

.icon-cart-filled:before {
  content: "\e913";
}

.icon-help:before {
  content: "\e914";
}

.icon-details:before {
  content: "\e915";
}

.icon-notification-filled:before {
  content: "\e916";
}

.icon-share1:before {
  content: "\e917";
}

.icon-settings:before {
  content: "\e918";
}

.icon-drop-down:before {
  content: "\e919";
}

.icon-assessment:before {
  content: "\e91a";
}

.icon-courses:before {
  content: "\e91b";
}

.icon-messages:before {
  content: "\e91c";
}

.icon-dashboard:before {
  content: "\e91d";
}

.icon-delete:before {
  content: "\e91e";
}

.icon-edit:before {
  content: "\e91f";
}

.icon-hamburger-menu:before {
  content: "\e923";
}

.icon-playlist-filled:before {
  content: "\e924";
}

.icon-question-answer:before {
  content: "\e925";
}

.icon-sort:before {
  content: "\e926";
}

.icon-logout:before {
  content: "\e927";
}

.icon-plus:before {
  content: "\e928";
}

.icon-cancel:before {
  content: "\e929";
}

.icon-announcement:before {
  content: "\e92a";
}

.icon-announcement-filled:before {
  content: "\e92b";
}

.icon-contact:before {
  content: "\e92c";
}

.icon-purchase-history:before {
  content: "\e92d";
}

.icon-request:before {
  content: "\e92e";
}

.icon-tick:before {
  content: "\e938";
}

.icon-wishlist-filled:before {
  content: "\e939";
}

.icon-star:before {
  content: "\e93a";
}

.icon-birthday:before {
  content: "\e93b";
}

.icon-calender-filled:before {
  content: "\e93c";
}

.icon-password:before {
  content: "\e93d";
}

.icon-contact-number:before {
  content: "\e93e";
}

.icon-mail-id:before {
  content: "\e93f";
}

.icon-calender:before {
  content: "\e941";
}

.icon-become-creator:before {
  content: "\e943";
}

.icon-playlist:before {
  content: "\e944";
}

.icon-edit-learner-profile:before {
  content: "\e945";
}

.icon-notification:before {
  content: "\e946";
}

.icon-wishlist:before {
  content: "\e947";
}

.icon-cart:before {
  content: "\e948";
}

.icon-caption:before {
  content: "\e949";
}

.icon-collapse-video:before {
  content: "\e94a";
}

.icon-expand-video:before {
  content: "\e94b";
}

.icon-volume:before {
  content: "\e94c";
}

.icon-next-playlist:before {
  content: "\e94d";
}

.icon-edit-line:before {
  content: "\e94f";
}

.icon-inspire:before {
  content: "\e950";
}

.icon-recognition:before {
  content: "\e951";
}

.icon-earnings:before {
  content: "\e952";
}

.icon-share:before {
  content: "\e953";
}