ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container-fluid{
    @include respond-above(lg){
        padding-left:85px !important;
        padding-right:85px !important;
    }
}

//- Terms & Conditions Page
.la-cr__section-item{
    list-style-type: decimal-leading-zero !important;
    margin-bottom:var(--size-base);
}
.la-cr__section-subitem{
    list-style-type: initial !important;
}