#{$ap}- {
    &trail {
        &__ {
            &btn{
               letter-spacing: 3.2px;
               padding-left: 110px;
               color:#FFC516;
               font-weight:var(--font-normal);
               top:-360px;
               right:120px;
               position:absolute;
               z-index:40;
            }
            &right {
                z-index:var(--z-20);

                @include respond-below(sm){
                    padding-top: var(--size-6);
                }
            }
            &content{
                &-{
                    &wrap{
                        @include respond-above(lg){
                            padding-right:calc(var(--size-20) * 3);
                        }
                    }
                }
            }
            
            &para{
                @include respond-above(lg){
                    padding-bottom:var(--size-10);
                    padding-right:var(--size-20);
                }
                @include respond-below(sm){
                    padding-bottom:var(--size-6);
                }
            }
            &img {
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: #7400D7 0% 0% no-repeat padding-box;
                    -webkit-background: #7400D7 0% 0% no-repeat padding-box;
                    -moz-background: #7400D7 0% 0% no-repeat padding-box;
                    mix-blend-mode: overlay;
                    border-radius: 10px;
                    opacity: 1;
                }

                &- {
                    &wrap {
                        overflow: hidden;
                        position: relative;
                        z-index:var(--z-2);
                    }
                }
            }
            &title {

                @include respond-below(sm){
                    font-size:var(--text-8xl) !important;
                }
                
                &-{
                    &main{
                        // top: 25%;
                        position: relative;
                        left: -30vh;
                        padding-bottom: var(--size-10);
                        z-index:10;

                        @include respond-below(sm){
                            top: -80px;
                            left: 10%;
                            position: absolute;
                        }
                    }

                    &in, &out{
                        @include respond-below(sm){
                            font-size:var(--text-8xl) !important;
                        }
                    }
                    &container{
                        width:100%;
                        height:70px;

                        @include respond-above(lg){
                            height:150px;
                        }
                    }
                }
                
                &-- {
                    &purple {
                        color: var(--app-indigo-1) !important;
                        opacity: 0.7 !important;
                    }
                    &black {
                        color: var(--gray5) !important;
                    }
                }
            }
        }
    }
}
