#{$ap}- {
    // Header: Start
    &header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background: var(--white);
        z-index: var(--header-z);
        &__ {
            &inner {

            }

            &brand {
                margin-right: var(--size-9);
            }

            &nav {
                &- {
                    &item {
                        margin-right: var(--size-12);
                    }
                    &link {
                        font-size: var(--text-lg);
                        font-weight: var(--font-bold);
                        font-family: var(--head-font);
                    }
                }
            }

            &menu {
                &- {
                    &item {
                        margin-left: var(--size-7);
                    }
                    &link {
                        font-size: var(--text-lg);
                        font-weight: var(--font-bold);
                        font-family: var(--head-font);

                        &:after{
                            display:none;
                        }
                    }
                    &icon{
                        font-size:var(--text-2xl);
                        color:var(--gray6);
                    }
                }
            }
            &dropdown-menu{
                margin-top:var(--size-5);
                padding-bottom:0;
                padding-top:0;
                box-shadow: 0px 3px 6px #00000029;
            }
            &dropdown-item{
                padding:var(--size-3) var(--size-6);
                font-weight:var(--font-semibold);
                font-family:var(--head-font);
                color:var(--gray5);
                border-bottom:1px solid var(--gray2);

                &:last-child{
                    border-bottom:none;
                }
                &:active{
                    background-color:var(--app-indigo-1);
                }
                &:hover{
                    background-color:var(--app-indigo-1);
                    color:#ffffff;
                }
            }
        }
    }
    // Header: End
}