$sidemenuWidth: 300px;

#{$ap}- {
    // Header: Start
    &header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background: var(--white);
        z-index: var(--header-z);
        &__ {
            &inner {

            }

            &brand {
                margin-right: var(--size-9);
            }

            &collapse {
                &- {
                    &wrap {
                        background: #F8F8F8;
                        padding: 0 20px;
                    }
                }
            }

            &nav {
                @include respond-below(md) {
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: $sidemenuWidth;
                    height: 100%;
                    overflow-y: scroll;
                    background: #ffffff;
                    z-index: 97;
                    box-shadow: 0px 3px 6px #0000001A;
                    padding: 15px 0 0;
                    transform: translateX($sidemenuWidth);
                    transition: all 0.3s ease-in-out;

                    // &:before {
                    //     content: "";
                    //     width: 100%;
                    //     height: 8px;
                    //     background-color: #FFC516;
                    //     position: absolute;
                    //     left: 0;
                    //     bottom: 0;
                    //     z-index: 1;
                    // }

                    &- {
                        &bottom {
                            border-bottom: 8px solid #FFC516;
                        }
                    }

                    &.menu-open {
                        transform: translateX(0);

                        & #{$ap}-header{
                            &__ {
                                &nav {
                                    &- {
                                        &item {
                                            opacity: 0;
                                            transform: translateX(10px);
                                            animation: meneItemShow 0.3s ease-in 0.1s forwards;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &- {
                        &item {
                            padding: 0 15px;
                            opacity: 1;
                            transform: translateX(0px);
                            animation: meneItemShowOut 0.1s ease 0s forwards;
                        }
                        &name {
                            margin-left: 10px;
                            font-weight: var(--font-medium);
                        }
                        &icon {
                            font-size: var(--text-lg);
                        }
                        &link {
                            font-size: var(--text-md) !important;
                            font-weight: var(--font-normal) !important;
                            font-family: var(--body-font) !important;
                            display: flex;
                            align-items: center;
                            color: #404040;
                            padding: 10px;
                        }
                    }
                }

                @include respond-above(md) {
                    &- {
                        &icon {
                            display: none;
                        }
                    }
                }

                &- {
                    &item {
                        margin-right: var(--size-12);
                    }
                    &link {
                        font-size: var(--text-lg);
                        font-weight: var(--font-bold);
                        font-family: var(--head-font);
                    }
                }
            }

            &menu {
                &- {
                    &item {
                        margin-left: var(--size-7);
                    }
                    &link {
                        font-size: var(--text-lg);
                        font-weight: var(--font-bold);
                        font-family: var(--head-font);

                        &:after{
                            display:none;
                        }
                    }
                    &icon{
                        font-size:var(--text-2xl);
                        color:var(--gray6);
                    }
                }
            }

            &dropdown-menu{
                margin-top:var(--size-5);
                padding-bottom:0;
                padding-top:0;
                box-shadow: 0px 3px 6px #00000029;
            }

            &dropdown-item{
                padding:var(--size-3) var(--size-6);
                font-weight:var(--font-semibold);
                font-family:var(--head-font);
                color:var(--gray5);
                border-bottom:1px solid var(--gray2);

                &:last-child{
                    border-bottom:none;
                }
                &:active{
                    background-color:var(--app-indigo-1);
                }
                &:hover{
                    background-color:var(--app-indigo-1);
                    color:#ffffff;
                }
            }

            &profile {
                &- {
                    &img {
                        width: 24px;
                        height: 24px;
                        border-radius: 100px;
                        overflow: hidden;
                    }
                }
            }

            &sidemenu {
                &- {
                    &btn {
                        z-index: 99;
                        transition: all 0.2s ease;

                        &.menu-open {
                            transform: rotate(90deg);
                        }
                    }
                }
            }

            // &sidemenu {
            //     position: fixed;
            //     top: 0;
            //     right: 0;
            //     width: $sidemenuWidth;
            //     height: 100%;
            //     background: #ffffff;
            //     z-index: 97;
            //     box-shadow: 0px 3px 6px #0000001A;
            //     padding: 15px;
            //     transform: translateX($sidemenuWidth);
            //     transition: all 0.2s ease-in-out;

            //     &:before {
            //         content: "";
            //         width: 100%;
            //         height: 8px;
            //         background-color: #FFC516;
            //         position: absolute;
            //         left: 0;
            //         bottom: 0;
            //         z-index: 1;
            //     }

            //     &- {
            //         &wrap {
            //             &.menu-open {
            //                 & #{$ap}- {
            //                     &header {
            //                         &__ {
            //                             &sidemenu {
            //                                 transform: translateX(0);

            //                                 &- {
            //                                     &btn {
            //                                         transform: rotate(90deg);
            //                                     }
            //                                 }
            //                             }
            //                         }
            //                     }
            //                 }
            //             }
            //         }
            //         &btn {
            //             z-index: 98;
            //         }
            //         &lnk {
            //             display: flex;
            //             align-items: center;
            //             color: #404040;
            //             padding: 10px;
            //         }
            //         &icon {
            //             font-size: var(--text-lg);
            //         }
            //         &name {
            //             margin-left: 10px;
            //             font-weight: var(--font-medium);
            //         }
            //     }
            // }
        }
    }
    // Header: End
}

@keyframes meneItemShow {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes meneItemShowOut {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(10px);
    }
}
