lang="en-US"

Coursehike


Color Pallet
=======================
Primary Color #3479E2
Green Color #00AF51
Background Color #F2F5F9
Dark course page Color #172137


coursehike website pages
================================
https://coursehike.hidrinwal.com/about-us.php
https://coursehike.hidrinwal.com/all-course-list.php
https://coursehike.hidrinwal.com/contact-us.php
https://coursehike.hidrinwal.com/course-overview-1.php
https://coursehike.hidrinwal.com/course-overview-2.php
https://coursehike.hidrinwal.com/homex.php
https://coursehike.hidrinwal.com/know-your-mentor.php
https://coursehike.hidrinwal.com/mentor.php
https://coursehike.hidrinwal.com/my-courses-list.php
https://coursehike.hidrinwal.com/my-wishlist.php
https://coursehike.hidrinwal.com/privacy-policy.php
https://coursehike.hidrinwal.com/shopping-cart.php
https://coursehike.hidrinwal.com/shopping-checkout.php
https://coursehike.hidrinwal.com/sign-in-form.php
https://coursehike.hidrinwal.com/sign-up-form.php
https://coursehike.hidrinwal.com/terms-condition.php