@import './cart-item';

#{$ap}- {
    &cart {
        &__ {
            &sec{
                @media(max-width:767px){
                    border-bottom:1px solid var(--gray6);
                }
            }
            &bill {
                &- {
                    &title {
                        font-size: var(--text-xl);
                        font-weight: var(--font-bold);
                    }

                    &label {
                        width: 60%;
                        padding-right: 15px;
                        font-size: var(--text-sm);
                        color: var(--gray5);
                        opacity: 0.6;
                    }

                    &amount {
                        & .text {
                            color: var(--app-indigo-1);
                            font-size: var(--text-xs);
                            font-weight: var(--font-bold);

                            &:hover{
                                color:var(--gray6);
                            }
                        }
                    }

                    &modal{
                        top:15%;
                    }
                    &mdialog{
                        width:340px;
                        height:200px;
                        box-shadow: 0px 6px 12px #00000029;
                        border-radius: 10px;

                        @media(max-width:767px){
                           width:auto
                        }
                    }
                    &mheader{
                        border:none !important;
                        padding: var(--size-4)  var(--size-8);
                    }
                    &mtitle{
                        font-family: var(--head-font);
                        font-size: var(--text-md);
                        color: var(--gray7);
                        font-weight: var(--font-normal);
                    }
                    &mbody{
                        padding-top:0 !important;
                        margin:0 var(--size-4);
                    }
                    &mapply{
                        padding: var(--size-4) 0;
                        border-bottom:1px dashed var(--gray2);
                    }
                    &input{
                        border: 1px solid var(--gray5);
                        border-radius: 10px 0px 0px 10px;
                        padding: var(--size-2) var(--size-3);
                    }
                    &input::-webkit-input-placeholder{
                        font-size: var(--text-sm);
                        color: var(--gray7);
                        opacity:0.42;
                    }
                    &submit{
                        border: 2px solid var(--app-indigo-1);
                        border-radius: 0px 10px 10px 0px;
                        font-size: var(--text-sm);
                        font-weight: var(--font-bold);
                        text-transform: uppercase;
                        letter-spacing: 2.8px;
                        color: var(--gray6);
                        background-color: var(--white);
                        padding: var(--size-2) var(--size-4);

                        &:hover{
                            background: var(--app-indigo-1);
                            color: var(--white);
                            border-radius: 0;
                        }
                    }
                    &coupons{
                        border-bottom:1px dashed var(--gray2);
                        height:220px !important;
                        overflow-y: scroll;
                    }
                    &coupons::-webkit-scrollbar {
                        width:0;
                        background:transparent;
                    }
                    &coupons::-webkit-scrollbar-thumb {
                        background: transparent;
                    }
                    &coupon{
                        font-size: var(--text-sm);
                        font-family: var(--head-font);
                        color: var(--gray7);
                        opacity:0.8;
                        padding: var(--size-3) 0;
                        border-bottom:1px solid var(--gray);
                        cursor: pointer;

                        &:hover{
                            color:var(--app-indigo-1);
                            opacity:1;
                        }
                    }
                   
                }
            }

            &product {
                @media(max-width:767px){
                    margin-top: var(--size-16) ;
                }
                &- {
                    &title {
                        margin-bottom: var(--size-10);
                        &-- {
                            &light h2 {
                                font-weight: var(--font-light);
                                color: var(--gray5)
                            }
                        }
                    }
                    &btm{
                        transition: all 0.25s ease-in;
                        &:hover{
                            transform: scale(1.1);
                            transition: all 0.25s ease-in;
                        }
                    }
                    &explore{
                        position:relative;
                        letter-spacing: 3.2px;
                        font-size: var(--text-md);
                    }
                    &icon{
                        position: relative;
                        bottom:-10px;
                        left:-30px;
                    }
                }
            }
        
        }
    }
}