#{$ap}- {
    &cart {
        &__ {
            &item {
                @media(max-width:767px){
                    padding-top: var(--size-4);
                }
                &- {
                    &info{

                    }
                    &label {
                        font-size: var(--text-xs);
                        color: var(--gray5);
                        opacity: 0.6;
                    }
                    &content{
                        @include respond-below(sm){
                            font-size:var(--text-sm);
                        }
                    }
                    &cost{
                        font-size: var(--text-lg) !important;
                        font-weight:var(--font-medium);

                        @include respond-below(md){
                            font-size: var(--text-md) !important;
                        }
                    }
                
                    &img {
                        width: 100px;
                        height: 65px;
                        background: var(--gray2);
                        border-radius:10px;
                        border:1px solid rgba(#eee, 0.5);
                        position:relative;
                        overflow:hidden;

                        @include respond-above(lg) {
                            width: 160px;
                            height: 85px;
                        }

                        @include respond-below(sm) {
                            width: 140px;
                            height: 80px;
                        }

                        img{
                            width: 100px;
                            height: 65px;
                            background: var(--gray2);
                            border-radius:10px;
                            object-fit:cover;
                            transition:all 0.25s ease-out;
                            -webkit-transition:all 0.25s ease-out;
                            -moz-transition:all 0.25s ease-out;
                            -ms-transition:all 0.25s ease-out;
                            -o-transition:all 0.25s ease-out;

                            &:hover{
                                position:absolute;
                                transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);
                                transition:all 0.25s ease-in;
                                -webkit-transition:all 0.25s ease-in;
                                -moz-transition:all 0.25s ease-in;
                                -ms-transition:all 0.25s ease-in;
                                -o-transition:all 0.25s ease-in;
                            }

                            @include respond-above(lg) {
                                width: 160px;
                                height: 85px;
                            }
                            @include respond-below(sm) {
                                width: 140px;
                                height: 80px;
                            }
                        }
                    }

                    &right{
                        @media(max-width:767px){
                            padding-top:var(--size-2);
                        }
                    }
                    &name {
                        font-weight: var(--font-bold);
                        word-wrap: break-word;
                        line-height: 1.2;
                        margin-right:var(--size-2);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1; 
                        -webkit-box-orient: vertical;

                        @include respond-above(sm){
                            font-size:var(--text-xl);
                        }
                    }

                    &author {
                        font-size: var(--text-sm);
                        
                        @include respond-above(lg){
                            margin-bottom:var(--size-4);
                        }

                        @include respond-below(sm){
                            margin-bottom:var(--size-2);
                        }
                    }

                    &action {
                        
                        &:first-child a {
                            padding-left: 0;
                        }

                        &:last-child a {
                            padding-right: 0;
                            color:var(--app-indigo-1);
                            cursor: pointer;
                            &:after {
                                display: none;
                            }
                        }

                        & a {
                            font-size: var(--text-sm);
                            color: var(--app-indigo-1);
                            position: relative;
                            padding: 0 10px;

                            &:hover{
                                color:var(--gray6);
                            }
                            
                            &:after {
                                content: "";
                                width: 1px;
                                height: 100%;
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                background-color: var(--app-indigo-1);
                            }

                            @include respond-below(sm){
                                padding: 0 5px;
                                font-size:var(--text-xs);
                            }
                        }
                    }
                    &cartclasses{
                        height:80px;
                    }
                    &carttoggler{
                        color: var(--gray6);
                        
                        &:after{
                            font-family: 'icomoon';
                            content: "\e96d";
                            position:absolute;
                            top:0;
                            left:138px;
                            font-size: var(--text-md);
                            transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);
                            transition: all 0.25s ease-in;-webkit-transition: all 0.25s ease-in;-moz-transition: all 0.25s ease-in;-ms-transition: all 0.25s ease-in;-o-transition: all 0.25s ease-in;
                        }
                        &.collapsed:after{  
                            content: "\e96d"; 
                            transform: rotate(0);-webkit-transform: rotate(0);-moz-transform: rotate(0);-ms-transform: rotate(0);-o-transform: rotate(0);
                            transition: all 0.25s ease-in;-webkit-transition: all 0.25s ease-in;-moz-transition: all 0.25s ease-in;-ms-transition: all 0.25s ease-in;-o-transition: all 0.25s ease-in;
                        }
                    }
                    &cartclass{
                        height:80px;
                        width:auto;
                        overflow-y: scroll;

                        &::-webkit-scrollbar {
                            width: 2px;  
                            background: transparent; 
                        }
                        &::-webkit-scrollbar-thumb {
                            background: rgba(0,0,0,0.2);
                            border-radius:20px;
                        }
                    }
                    &cartitem{
                        list-style-type: decimal-leading-zero !important;
                        font-size: var(--text-md);
                        color:var(--gray6);
                        padding-top:2px;

                        @include respond-below(sm){
                            font-size: var(--text-sm);
                        }
                    }
                }
            }

            &edit{
                &-{
                    &modal{
                        top:10%;
                        left:0;
                    }
                    &dialog{
                        width:550px !important;
                        height:auto;
                        box-shadow: 0px 6px 12px #00000029;
                        border-radius: 10px;

                        @media(max-width:767px){
                            width:auto !important;
                        }
                    }
                    &header{
                        border:none !important;
                        padding: var(--size-6) var(--size-8) 0;

                        @media(max-width:767px){
                            padding:var(--size-6) var(--size-6) 0 ;
                        }
                    }
                    &title{
                        font-size: var(--text-lg);
                        font-family: var(--head-font);
                        color: var(--gray7);
                        font-weight: var(--font-normal);
                    }
                    &body{
                        padding: var(--size-6) var(--size-8);

                        @media(max-width:767px){
                            padding:var(--size-6) var(--size-3);
                        }
                    }
                    &classes{
                        font-size: var(--text-sm);
                        font-family: var(--head-font);
                        color: var(--gray6);
                        opacity:0.8;
                        font-weight: var(--font-normal);
                    }
                    &scroll{
                        height:200px;
                        overflow-y:scroll;
                        overflow-x:hidden;

                        &::-webkit-scrollbar {
                            width: 4px;  
                            background: transparent; 
                        }
                        &::-webkit-scrollbar-thumb {
                            background: rgba(0,0,0,0.2);
                            border-radius:4px;
                        }
                    }
                    &info{
                        padding: var(--size-2) 0;
                    }
                    &main{
                        font-size: var(--text-sm);
                        color: var(--gray5);
                        opacity:0.6;
                    }
                    &submain{
                        font-size: var(--text-xs);
                        color: var(--gray5);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; 
                        -webkit-box-orient: vertical;
                    }
                    &img{
                        width:80px;
                        height:50px;
                        background-color:var(--gray);
                        border-radius:10px;

                        @include respond-below(sm){
                            width:60px;
                            height:40px;
                        }
                    }
                    &update{
                        font-size:var(--text-md) !important;
                        font-weight: var(--font-bold);
                        color: var(--app-indigo-1);
                        text-transform: uppercase;
                        letter-spacing: 2.8px;
                        margin: var(--size-6) 0 var(--size-2) 0;

                        &:hover{
                            color:var(--black);
                        }
                    }
                }
            }
        }
    }
}
.modal{
    padding-right:0;
}