#{$ap}- {
    &cart {
        &__ {
            &item {
                &- {
                    &label {
                        font-size: var(--text-xs);
                        color: var(--gray5);
                        opacity: 0.6;
                    }

                    &img {
                        width: 80px;
                        height: 80px;
                        background: var(--gray2);
                        border-radius:10px;
                        position:relative;
                        overflow:hidden;

                        @include respond-above(lg) {
                            width: 160px;
                        }

                        img{
                            border-radius:10px;
                            transition:all 0.25s ease-out;
                            -webkit-transition:all 0.25s ease-out;
                            -moz-transition:all 0.25s ease-out;
                            -ms-transition:all 0.25s ease-out;
                            -o-transition:all 0.25s ease-out;

                            &:hover{
                                position:absolute;
                                transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);
                                transition:all 0.25s ease-in;
                                -webkit-transition:all 0.25s ease-in;
                                -moz-transition:all 0.25s ease-in;
                                -ms-transition:all 0.25s ease-in;
                                -o-transition:all 0.25s ease-in;
                            }
                        }
                    }

                    &name {
                        font-size: var(--text-xl);
                        font-weight: var(--font-bold);
                    }

                    &author {
                        font-size: var(--text-sm);
                    }

                    &action {

                        &:first-child a {
                            padding-left: 0;
                        }

                        &:last-child a {
                            padding-right: 0;
                            &:after {
                                display: none;
                            }
                        }

                        & a {
                            font-size: var(--text-xs);
                            color: var(--app-indigo-1);
                            position: relative;
                            padding: 0 10px;

                            &:after {
                                content: "";
                                width: 1px;
                                height: 100%;
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                background-color: var(--app-indigo-1);
                            }
                        }
                    }
                }
            }
        }
    }
}