#{$ap}- {
    &profile {
        &__ {
          
        }
    }
    &password {
        &__ {
            &update {
                &- {
                    &option {
                        & .text {
                            font-size: var(--text-xs);
                            color: var(--app-indigo-1);
                            font-weight: var(--font-bold);
                            position:relative;
                        }
                    }
                    &toggler{
                        color: var(--app-indigo-1);

                        &:after{
                            font-family: 'icomoon';
                            content: "\e96d";
                            position:absolute;
                            top:-4px;
                            right:-24px;
                            font-size: var(--text-md);
                            transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);
                            transition: all 0.25s ease-in;-webkit-transition: all 0.25s ease-in;-moz-transition: all 0.25s ease-in;-ms-transition: all 0.25s ease-in;-o-transition: all 0.25s ease-in;
                        }

                        &.collapsed:after{
                            content: "\e96d"; 
                            transform: rotate(0);-webkit-transform: rotate(0);-moz-transform: rotate(0);-ms-transform: rotate(0);-o-transform: rotate(0);
                            transition: all 0.25s ease-in;-webkit-transition: all 0.25s ease-in;-moz-transition: all 0.25s ease-in;-ms-transition: all 0.25s ease-in;-o-transition: all 0.25s ease-in;
                        }
                    }
                   
                }
            }
        }
    }
}
